- Source: https://tableau.github.io/server-client-python/docs/api-ref
- "HDC현대산업개발": "2a21240d-3f53-4f02-944d-b01647c3dd51"

In [123]:
import tableauserverclient as TSC
import pandas as pd
import numpy as np
import pickle as pk

pd.set_option("display.max_rows", None)

In [92]:
hr = pd.read_excel("D:/디지털혁신팀/태블로/직원명단_조직_210630.xlsx")
hr["성명"] = hr["성명"].apply(lambda x:x.replace(" ", ""))
hr = hr[["사번", "본부명(조직단위기준)", "조직명", "하위그룹", "직무", "직급", "성명"]]
hr = hr.rename({"사번":"num", "본부명(조직단위기준)":"hq", "조직명":"dep", "하위그룹":"sub", "직무":"job", "직급":"rank", "성명":"name"}, axis=1)
hr = hr.sort_values(by=["job", "rank", "hq", "dep"], axis=0)
hr["num"] = hr["num"].map(str)

In [93]:
empls = {str(row["num"]):(row["hq"], row["dep"], row["job"], row["name"]) for _, row in hr.iterrows()}

req_opts = TSC.RequestOptions(pagesize=1000)

## User Groups

In [104]:
hr.loc[(hr["job"] == "회장") | (hr["job"] == "부회장") | (hr["job"] == "대표이사사장") | (hr["job"] == "본부장"), "check"] = "1그룹"
hr.loc[(hr["job"] == "PM") | (hr["job"] == "건축PM") | (hr["job"] == "팀장") | (hr["job"] == "실장") | (hr["job"] == "그룹장") | (hr["job"] == "지사장") | (hr["num"] == "6447"), "check"] = "2그룹"
hr.loc[(hr["job"] == "소장") | (hr["job"] == "부문장") | (hr["job"] == "리더"), "check"] = "3그룹"

In [72]:
# 1그룹
hr[(hr["job"] == "회장") | (hr["job"] == "부회장") | (hr["job"] == "대표이사사장") | (hr["job"] == "본부장")]

      num      hq     dep     job rank name
900  6379    사장직속  대표이사사장  대표이사사장   사장  권순호
114  3904    건설본부    건설본부     본부장   상무  하원기
914  6400  개발영업본부  개발영업본부     본부장   전무  박희윤
921  6415    경영본부    경영본부     본부장   전무  정경구
959  6459  미래혁신본부  미래혁신본부     본부장   전무  김홍일
899  6377   부회장직속     부회장     부회장  부회장  김대철
0       1    회장직속      회장      회장   회장  정몽규

In [75]:
# 2그룹
hr[(hr["job"] == "PM") | (hr["job"] == "건축PM") | (hr["job"] == "팀장") | (hr["job"] == "실장") | (hr["job"] == "그룹장") | (hr["job"] == "지사장") | (hr["num"] == "6447")]

          num      hq             dep    job    rank name
115      3911    건설본부           인프라PM     PM      1급  김범동
427      5421    건설본부           인프라PM     PM      1급  이종민
949      6447    경영본부         경영혁신TFT  TFT팀장      전무  이형기
11       2912    건설본부            건축PM   건축PM      1급  김동진
20       3109    건설본부            건축PM   건축PM      상무  배영선
86       3755    건설본부            건축PM   건축PM      상무  이창규
106      3817    건설본부            건축PM   건축PM      상무  이현대
166      4187  개발영업본부      설계그룹(개발영업)    그룹장      1급  박찬호
358      5011  개발영업본부      견적그룹(개발영업)    그룹장      2급  소문석
561      5820    건설본부        설비그룹(건설)    그룹장      2급  현규섭
524      5769    건설본부        전기그룹(건설)    그룹장      2급  김용권
209      4398    건설본부        조경그룹(건설)    그룹장      2급  이현우
404      5207  개발영업본부        용산병원프로젝트     리더      1급  이준희
366      5029    사장직속           안전경영실     실장      1급  호명기
757      6143  개발영업본부           베트남지사    지사장      2급  황종열
300      4865  개발영업본부          도시개발1팀     팀장      1급  이현우
155      4116  개발영업본부          도시정비1팀     팀장      1급  문치성
425      5408  개발영업본부          인프라개발팀     팀장      1급  김의성
161      4154    건설본부           건설기획팀     팀장      1급  박정화
948      6446    건설본부          고객서비스팀     팀장      1급  정영도
51       3449    건설본부           외주구매팀     팀장      1급  정상민
649      5969    경영본부           법무감사팀     팀장      1급  윤보은
406      5212  개발영업본부          도시개발2팀     팀장      2급  이홍석
813      6241  개발영업본부          도시정비2팀     팀장      2급  신현철
574      5838  개발영업본부            마케팅팀     팀장      2급  강미희
459      5560  개발영업본부          민간수주1팀     팀장      2급  한상현
453      5530  개발영업본부          민간수주2팀     팀장      2급  백장준
805      6225  개발영업본부           복합개발팀     팀장      2급  권두섭
758      6148  개발영업본부           상품기획팀     팀장      2급  김자현
112      3881  개발영업본부  용현학익1블록도시개발사업단     팀장      2급  장수호
255      4628  개발영업본부  용현학익1블록도시개발사업단     팀장      2급  심재병
282      4793  개발영업본부          인프라수주팀     팀장      2급  전정하
468      5599  개발영업본부           투자운영팀     팀장      2급  권양현
374      5047  개발영업본부           해외사업팀     팀장      2급  장용석
554      5806  개발영업본부             홍보팀     팀장      2급  이동훈
127      3974    건설본부          건설디지털팀     팀장      2급  강민석
154      4114    건설본부           공정상생팀     팀장      2급  박혁종
360      5018    건설본부         스마트프리콘팀     팀장      2급  여승의
245      4587    건설본부           실시설계팀     팀장      2급  최창구
405      5208    건설본부           예산견적팀     팀장      2급  김지현
253      4610    건설본부            인프라팀     팀장      2급  김용주
279      4785    건설본부           일반견적팀     팀장      2급  이유로
960      6460    경영본부           경영분석팀     팀장      2급   최용
898      6376    경영본부             재무팀     팀장      2급  노형주
920      6414    경영본부             회계팀     팀장      2급  이완희
457      5555  미래혁신본부           HR혁신팀     팀장      2급  선영욱
477      5634  미래혁신본부         디지털플랫폼팀     팀장      2급  맹은주
945      6443  미래혁신본부           미래전략팀     팀장      상무  고영호
1747  4100426  미래혁신본부           정보기술팀     팀장  외주직원2급  심동현

In [78]:
# 3그룹
hr[(hr["job"] == "소장") | (hr["job"] == "부문장") | (hr["job"] == "리더")]

          num      hq                                  dep  job   rank name
944      6442  개발영업본부                                마케팅부문  부문장     1급  이정은
819      6253  개발영업본부                                 개발부문  부문장     상무  김태수
953      6453  개발영업본부                                 수주부문  부문장     상무  김대중
422      5381  개발영업본부                                인프라부문  부문장     상무  박상일
78       3684    건설본부       TheH Firstier IPARK(개포1 주택재건축)   소장     1급  이종일
132      4009    건설본부                              둔촌주공재건축   소장     1급  김용남
231      4540    건설본부                             시티오씨엘3단지   소장     1급  양승철
288      4826    건설본부                        아산병원P동및I동증축공사   소장     1급  민성우
111      3872    건설본부                            평택고덕IPARK   소장     1급  김창범
135      4057    건설본부            DMC SK뷰 아이파크포레(수색13구역재개발)   소장     2급  안정찬
145      4080    건설본부                               경산아이파크   소장     2급  이부근
92       3768    건설본부                            고덕아이파크디어반   소장     2급  빙창민
56       3513    건설본부             고속국도제32호선아산-천안간건설공사(4공구)   소장     2급  김유겸
81       3740    건설본부             고속국도제32호선아산-천안간건설공사(5공구)   소장     2급  고영진
137      4063    건설본부             고속국도제65호선포항-영덕간건설공사(4공구)   소장     2급  최성일
339      4968    건설본부             고속국도제65호선포항-영덕간건설공사(5공구)   소장     2급  장도순
129      3991    건설본부                          광명4R구역주택재개발   소장     2급  최영근
160      4136    건설본부                     광주계림IPARK SKVIEW   소장     2급  노창기
80       3702    건설본부                              광주운암3단지   소장     2급  장봉준
26       3139    건설본부                              광주학동4구역   소장     2급  서태철
290      4828    건설본부                    구미아이파크더샵(구미원평1구역)   소장     2급  김상균
100      3807    건설본부                           군산호수공원아이파크   소장     2급  김도헌
98       3797    건설본부                        김포풍무2지구도시개발사업   소장     2급  한희태
219      4482    건설본부                   김해사이언스파크일반산업단지조성공사   소장     2급  김정훈
287      4825    건설본부                               당진아이파크   소장     2급  신웅식
410      5273    건설본부                            대구침산동주상복합   소장     2급  박준용
210      4402    건설본부                도담-영천복선전철제4공구노반신설기타공사   소장     2급  김영철
85       3753    건설본부                              마곡R&D센터   소장     2급  성동석
313      4902    건설본부                          마산해양신도시건설사업   소장     2급  박범수
131      4007    건설본부                         방글라데시BSMMU병원   소장     2급  이대용
168      4192    건설본부                            범어우방1차재건축   소장     2급  진동성
348      4987    건설본부                         베트남렌강수자원개발공사   소장     2급  박재환
62       3549    건설본부                          부산동래래미안아이파크   소장     2급  이문경
121      3945    건설본부    부산항신항2-4단계컨테이너부두(3선석)민간투자시설사업건설공사   소장     2급  박용호
216      4425    건설본부  부산항신항2-4단계컨테이너부두(3선석)민간투자시설사업장비조달공사   소장     2급  손관철
187      4325    건설본부                             비산자이아이파크   소장     2급  박형건
330      4931    건설본부                 서울-춘천고속도로6차로구간확장건설공사   소장     2급  최종우
46       3362    건설본부                         서울숲IPARK리버포레   소장     2급  김행대
169      4198    건설본부                       성남산단재생복합지식산업센터   소장     2급  장태영
128      3990    건설본부                             속초2차아이파크   소장     2급  이상호
212      4404    건설본부           속초IPARK SUITE(속초영랑동생활숙박시설)   소장     2급  강병철
198      4353    건설본부                  송도역세권구역도시개발사업부지조성공사   소장     2급  조정익
99       3805    건설본부             수원센트럴아이파크자이(수원팔달10구역재개발)   소장     2급  김한덕
91       3767    건설본부                   아시아드레이카운티(부산거제2구역)   소장     2급  김달운
101      3809    건설본부                             아현2구역재건축   소장     2급  최영준
429      5430    건설본부                           안성가유지구물류센터   소장     2급  오형석
134      4054    건설본부                         에티오피아고레-테피도로   소장     2급  곽동호
235      4544    건설본부                           역삼센트럴IPARK   소장     2급  박홍열
180      4283    건설본부                          영통아이파크캐슬3단지   소장     2급  고재영
199      4354    건설본부                  오크밸리Zone1골프장조성및부대공사   소장     2급  최정환
105      3815    건설본부                           용산병원부지개발사업   소장     2급  김창환
138      4064    건설본부                        용현학익1블럭부지조성공사   소장     2급  박상우
304      4877    건설본부                   우장산숲아이파크(화곡1주택재건축)   소장     2급  구영아
243      4581    건설본부                           울산태화강IPARK   소장     2급  김정우
419      5355    건설본부                   인도뭄바이해안도로(2공구)건설공사   소장     2급  황세환
197      4351    건설본부                           인천신항항만배후단지   소장     2급  김동욱
103      3812    건설본부                              잠실진주재건축   소장     2급  이일재
123      3950    건설본부                             전주태평아이파크   소장     2급  김윤호
311      4900    건설본부                     지개-남산간연결도로민간투자사업   소장     2급  김근호
250      4598    건설본부                         진례시례지구도시개발사업   소장     2급  문인석
355      5002    건설본부                            춘천삼천동공동주택   소장     2급  김기호
286      4824    건설본부                      탄방동1(숭어리샘)주택재건축   소장     2급  문병재
25       3138    건설본부                               포항아이파크   소장     2급  엄성용
52       3483    건설본부                         현대엘리베이터충주신공장   소장     2급  김영도
117      3919    건설본부                            홍은13구역재개발   소장     2급  이용상
133      4053    건설본부            화성봉담국도43호선확포장및지하차도공사(2공구)   소장     2급  김현철
994   1101259    건설본부                              고척IPARK   소장    계약직  김일수
1001  1101266    건설본부                             꿈의숲IPARK   소장  계약직자문  박호종

## SIgn In

In [94]:
with open("D:/디지털혁신팀/태블로/admin_TOKEN.pkl", "rb") as f:
    token = pk.load(f)
tableau_auth = TSC.PersonalAccessTokenAuth("admin_TOKEN", token)
server = TSC.Server("http://218.153.56.75/", use_server_version=True)

## all_users.csv

In [95]:
with server.auth.sign_in(tableau_auth):
    all_users, pagination_item = server.users.get(req_options=req_opts)
all_users = [(user.id, user.name, user.fullname, user.site_role) + empls[user.name] if user.name in empls.keys() else (user.id, user.name, user.fullname, user.site_role, None, None, None, None) for user in all_users]
all_users = pd.DataFrame(all_users, columns=["user_id", "user_name", "user_fullname", "site_role", "hq", "dep", "job", "name"])
# all_users = all_users.sort_values(by=["hq", "dep", "job", "name", "site_role"])
# all_users = all_users.reset_index(drop=True)

In [96]:
all_users.to_csv("D:/디지털혁신팀/태블로/all_users.csv", index=False, encoding="euc-kr")
all_users.head()

,user_id,user_name,user_fullname,site_role,hq,dep,job,name
0,bdebde0b-b41d-4e9a-a6b7-423ab68bb16b,admin,admin,ServerAdministrator,None,None,None,None
1,a6e879b8-950e-4b05-9ff6-fe5565da5018,viewer,viewer(디지털플랫폼팀),Viewer,None,None,None,None
2,2c2ceaa8-9387-4edb-8ab2-38b17f686304,2912,김동진,Viewer,건설본부,건축PM,건축PM,김동진
3,c232b3be-3aac-4f4f-83fb-bc8a15dab963,3109,배영선,Viewer,건설본부,건축PM,건축PM,배영선
4,e17666e4-a736-40a7-badc-865a60ebd7f2,3139,서태철,Viewer,건설본부,광주학동4구역,소장,서태철

## user_group.csv

In [19]:
user_group = list()
with server.auth.sign_in(tableau_auth):
    users, pagination_item = server.users.get(req_options=req_opts)
    for user in users:
        pagination_item = server.users.populate_groups(user, req_options=req_opts)
        user_group.extend([(user.id, user.name, user.fullname, user.site_role) + empls[user.name] + (group.name,) if user.name in empls.keys() else (user.id, user.name, user.fullname, user.site_role, None, None, None, None, group.name) for group in user.groups if group.name != "All Users"])
        
user_group = pd.DataFrame(user_group, columns=["user_id", "user_name", "user_fullname", "site_role", "hq", "dep", "job", "name", "group"])
# user_group = user_group.sort_values(by=["hq", "dep", "job", "name", "site_role", "group"])
# user_group = user_group.reset_index(drop=True)

In [20]:
user_group.to_csv("D:/디지털혁신팀/태블로/user_group.csv", index=False, encoding="euc-kr")
user_group.head()

,user_id,user_name,user_fullname,site_role,hq,dep,job,name,group
0,bdebde0b-b41d-4e9a-a6b7-423ab68bb16b,admin,admin,ServerAdministrator,None,None,None,None,디지털혁신팀
1,a6e879b8-950e-4b05-9ff6-fe5565da5018,viewer,viewer(디지털플랫폼팀),Viewer,None,None,None,None,디지털혁신팀
2,2c2ceaa8-9387-4edb-8ab2-38b17f686304,2912,김동진,Viewer,건설본부,건축PM,건축PM,김동진,본사팀장/그룹장
3,c232b3be-3aac-4f4f-83fb-bc8a15dab963,3109,배영선,Viewer,건설본부,건축PM,건축PM,배영선,본사팀장/그룹장
4,123c4e57-2fc6-4a62-8837-d3c1277ee1c6,3449,정상민,Viewer,건설본부,외주구매팀,팀장,정상민,본사팀장/그룹장

## Remove user

In [26]:
user_id = "371ace7c-8abb-484e-9c61-ac1ab2247f4d"
with server.auth.sign_in(tableau_auth):
    server.users.remove(user_id)

## Modify User Information

In [32]:
# for _, row in all_users.iterrows():
#     if row["dep"] != None:
#         print(row["user_id"], row["user_fullname"], row["name"], row["dep"])

2c2ceaa8-9387-4edb-8ab2-38b17f686304 김동진 김동진 건축PM
c232b3be-3aac-4f4f-83fb-bc8a15dab963 배영선 배영선 건축PM
e17666e4-a736-40a7-badc-865a60ebd7f2 서태철 서태철 광주학동4구역
cf30b80d-8e3a-4128-995a-acbe79a7090f 이훈석 이훈석 건설기획팀(신규준비)
f0a544b2-1f42-4f3d-b20f-bcd428b11d6a 김행대 김행대 서울숲IPARK리버포레
123c4e57-2fc6-4a62-8837-d3c1277ee1c6 정상민 정상민 외주구매팀
af48c1c7-5d45-4e6a-bd52-e028d35013cf 김영도 김영도 현대엘리베이터충주신공장
55a1b5a0-fe20-4711-85d4-514c0d1aaec4 김유겸 김유겸 고속국도제32호선아산-천안간건설공사(4공구)
06f0c545-3f70-47ac-a6e3-0fd195c4ea68 이문경 이문경 부산동래래미안아이파크
15d539bf-721c-42f7-a3bb-a0b6cecbf3eb 이종일 이종일 TheH Firstier IPARK(개포1 주택재건축)
ab1b3edd-f03c-4358-baf2-695f7bab45f5 고영진 고영진 고속국도제32호선아산-천안간건설공사(5공구)
102a7f7f-6fa3-41b2-ab18-8fb2357fa3d5 이창규 이창규 건축PM
7f57aeae-354b-4ed7-acf0-fcb7a29ef108 김달운 김달운 아시아드레이카운티(부산거제2구역)
2bc4b236-5eb8-4b69-a32e-5ef51a167d5a 한희태 한희태 김포풍무2지구도시개발사업
9d798eca-8cfe-461f-9a23-5e654cc799c7 김한덕 김한덕 수원센트럴아이파크자이(수원팔달10구역재개발)
4b68efef-e3cc-4820-af1e-54e23bcd5cda 최영준 최영준 아현2구역재건축
693792b3-5945-468a-8652-22479d429b45 김창환 김창환 용산병원부지개발사업
e1af50a2-4aed-4901-84c7-dd9b9bb42b11 이현대 이현대 건축PM
b61b252c-e5a8-4d65-a31b-72ee96113924 김창범 김창범 평택고덕IPARK
5bb1c559-cea8-43d1-9d6d-2822a5c855b9 하원기 하원기 건설본부
1e920147-1b76-4ad5-a6c5-d63e027dc255 김범동 김범동 인프라PM
d8deaec1-e5c8-4432-bf64-c80fe198e405 박용호 박용호 부산항신항2-4단계컨테이너부두(3선석)민간투자시설사업건설공사
7d0a54be-87b1-4735-bdac-f3e08e9f1215 강민석 강민석 건설디지털팀
bcac7a7e-4319-448f-baa3-cbf18e9e06e6 이상호 이상호 속초2차아이파크
3a21397f-f7a6-4736-aaec-efddf7d96619 최영근 최영근 광명4R구역주택재개발
8bb22c3d-92ee-48a4-bc46-fc5b42c69aef 이대용 이대용 방글라데시BSMMU병원
216e2d66-f41c-4fcb-9b42-ee6c1001bfc2 김용남 김용남 둔촌주공재건축
b5eabaae-0f5c-4e73-9edb-e720c2444fb1 김현철 김현철 화성봉담국도43호선확포장및지하차도공사(2공구)
a708b304-b5b2-4211-8503-5be62b3aafa1 곽동호 곽동호 에티오피아고레-테피도로
9c2f3122-ce38-46de-9237-e23b94951980 안정찬 안정찬 DMC SK뷰 아이파크포레(수색13구역재개발)
c1954e54-0490-4b5b-85c3-4701314f3690 최성일 최성일 고속국도제65호선포항-영덕간건설공사(4공구)
aff8462a-a69f-401a-9f5c-75496b3b7fe2 박상우 박상우 용현학익1블럭부지조성공사
c3886167-8d3c-458a-83b5-ba7da0f5524c 박혁종 박혁종 공정상생팀
4ee1dd5e-fb84-4ec8-b885-f0891066f97d 문치성 문치성 도시정비1팀
eb99461e-3eda-4113-8aa7-774fc7aa36cd 노창기 노창기 광주계림IPARK SKVIEW
925c3c2d-98c4-4523-9fb6-1f568bba1fdd 박정화 박정화 건설기획팀
68a87b8c-87d6-48c1-a022-3ef3a1a68b5b 박찬호 박찬호 설계그룹(개발영업)
f7620df5-10c9-4396-856b-a65264953c88 진동성 진동성 범어우방1차재건축
fe8e5d19-cd9c-4a97-a6bd-1551ea25a9b6 장태영 장태영 성남산단재생복합지식산업센터
207b82c3-340b-45f7-baa0-4bc0d378ad9c 고재영 고재영 영통아이파크캐슬3단지
be0da5d6-416c-44ad-af06-432d2342188c 박형건 박형건 비산자이아이파크
e4bbffd9-1ac0-4a85-b9fc-7b67e8c10b5e 조정익 조정익 송도역세권구역도시개발사업부지조성공사
ad9410a1-4c3c-4ced-9a5f-8e498fb6cf31 최정환 최정환 오크밸리Zone1골프장조성및부대공사
0dfbbd36-7903-4d35-a3e6-fe7d1580b01a 이현우 이현우 조경그룹(건설)
b19f9a47-bed6-4a03-85a2-b1f1e7c4e1a7 김영철 김영철 도담-영천복선전철제4공구노반신설기타공사
72e3a85a-6488-49eb-8975-0415a920d0c7 강병철 강병철 속초IPARK SUITE(속초영랑동생활숙박시설)
a5f3713d-f14b-4867-9aff-0b0e5977f05f 손관철 손관철 부산항신항2-4단계컨테이너부두(3선석)민간투자시설사업장비조달공사
4dd79f69-5463-4368-b84b-ad107bf3e3a3 양승철 양승철 시티오씨엘3단지
7c1da6f4-8718-487a-8e96-7f3c71cf31d2 박홍열 박홍열 역삼센트럴IPARK
8b2316a3-56b6-40f5-833f-f714a9788b4e 김정우 김정우 울산태화강IPARK
7c6935bc-2140-41b6-b41b-4946acd72622 최창구 최창구 실시설계팀
de6f1d5e-acbd-4f68-9aba-e8eb6c778ce0 문인석 문인석 진례시례지구도시개발사업
f49ef9f6-175b-41d7-a739-cc74e138f49b 김용주 김용주 인프라팀
cf6558c5-e7ff-42f3-8c0e-5e6228a92249 이유로 이유로 일반견적팀
a8d8538e-1337-4d0a-98d8-bac32dccac43 전정하 전정하 인프라수주팀
028da6f7-1a2a-4c47-a11c-08ea4d95a8b9 신웅식 신웅식 당진아이파크
dd438db5-10c1-49fd-aa26-a6d1ec64d881 민성우 민성우 아산병원P동및I동증축공사
5650afc4-a205-4a54-ae19-10ccc7cfb8b8 김상균 김상균 구미아이파크더샵(구미원평1구역)
2c06e1d5-14b6-4afe-8c26-4a6fe8e9e8b8 이현우 이현우 도시개발1팀
b2b5df54-57ca-4645-a5d5-b6fe5f0702d8 구영아 구영아 우장산숲아이파크(화곡1주택재건축)
8ca37707-4a88-479b-b51d-26cf5ce24ca9 김근호 김근호 지개-남산간연결도로민간투자사업
8bda9c7c-1ea5-4862-a8dd-925e4ffd9679 박범수 박범수 마산해양신도시건설사업
f4ccc942-8469-44dc-b7ee-c22950da8f5a 최종우 최종우 서울-춘천고속도로6차로구간확장건설공사
557584ae-61e1-46d0-b458-f7c9c8cbd6e7 장도순 장도순 고속국도제65호선포항-영덕간건설공사(5공구)
6f6243e2-7d03-4238-a055-8e28178efaa3 소문석 소문석 견적그룹(개발영업)
87b0a1f1-2840-47cc-81cf-a510c4779f2d 여승의 여승의 스마트프리콘팀
60ce2a18-9a85-4c5e-94fb-b8f87b811e46 호명기 호명기 안전경영실
30a7275a-dbe1-4896-82e0-572013fd64bd 장용석 장용석 해외사업팀
f75fb604-6032-49c3-ab83-f74ffbd31be1 이준희 이준희 용산병원프로젝트
6304ceba-9914-4f06-b551-59d229b7cb9b 김지현 김지현 예산견적팀
30773ee0-12e8-4ca1-9c00-2dc5a7b3622c 이홍석 이홍석 도시개발2팀
c4239f82-98f2-4e31-8a10-f1b107999280 황세환 황세환 인도뭄바이해안도로(2공구)건설공사
b2984076-861a-4b0f-8b84-eeeb659aafa1 박상일 박상일 인프라부문
b3d5f4ef-1f9c-40b4-9236-91c37de22671 이종민 이종민 인프라PM
53490f3d-6ed5-46bf-920b-f13402916eb6 백장준 백장준 민간수주2팀
74802091-d8fe-41ae-820f-fba9856ee921 선영욱 선영욱 HR혁신팀
5d565cc4-8b06-4a47-8477-8c576366e096 한상현 한상현 민간수주1팀
49998799-2810-400c-b0d4-52005f428828 권양현 권양현 투자운영팀
404a382e-f9b2-4f22-bfb7-e6630d945d84 맹은주 맹은주 디지털플랫폼팀
710f4e8f-c167-4dd8-b55e-d6557e138474 김철 김철 시티오씨엘3단지
3b1d4c06-b7c9-4161-9955-70c6a2e373fd 김용권 김용권 전기그룹(건설)
984f8956-32a1-4a10-935a-111a852b6e65 현규섭 현규섭 설비그룹(건설)
1dcd91a7-ea6e-45eb-b24a-f2dd1d944ab3 윤보은 윤보은 법무감사팀
af7cd043-b1aa-498f-99dc-c3aa938b878c 권두섭 권두섭 복합개발팀
e3f28319-7257-42a1-a01e-1b5663b2350c 신현철 신현철 도시정비2팀
1f34b28f-5859-4d04-ad50-b17fb4cc1061 김태수 김태수 개발부문
1363cba4-a1ef-4bb5-a4d7-2660eb9aecbe 노형주 노형주 재무팀
b7a5b867-20d9-4535-bf62-2755d6315be8 김대철 김대철 부회장
64a7cf39-d7c6-4bb9-b75a-d294170d406e 권순호 권순호 대표이사사장
aeac9fd0-7f64-4888-9a70-9374508927f8 박희윤 박희윤 개발영업본부
f00e6293-c380-47ca-9df0-f0a017e46623 이완희 이완희 회계팀
eb534166-0d09-4ec1-ae08-e7027ecd23b1 정경구 정경구 경영본부
01ac2e6a-aabd-4e10-b065-a306598436a4 고영호 고영호 미래전략팀
752c13e0-3b92-48e4-85dd-ae8ffac15bb9 정영도 정영도 고객서비스팀
63664f7e-d909-4b36-afba-5d5541b22901 이형기 이형기 경영혁신TFT
5e99f5f5-0369-4617-a4b1-bdf526318dc0 이흥복 이흥복 인프라개발팀
7b07f552-2385-4ea3-b954-cb79b9897331 김대중 김대중 수주부문
20ed0326-a5a2-48a0-ac1d-7e32bfce06a5 최영소(디지털혁신팀) 최영소 디지털플랫폼팀
12e18b8c-84f5-4224-b8ee-a4f27170787a 김동수 김동수 용현학익1블록도시개발사업단
7db874df-e302-4a8d-b682-c28b6d8e394b 황종열 황종열 베트남지사
cc3e73e6-6c2c-48ab-82bc-af92187a4627 김종범(디지털혁신팀) 김종범 디지털플랫폼팀
a537bda7-2703-4f2b-a2fb-52d9bd6eac32 유경근(디지털혁신팀) 유경근 디지털플랫폼팀
ba13411b-37d6-4feb-93a9-0cbebe1b8901 김석희(디지털혁신팀) 김석희 디지털플랫폼팀
b5610a15-68b4-4223-a501-c2d8a5b2cbae 서장원(비서) 서장원 재무팀
350b7348-39d6-4985-bd14-0d825a870626 노인주(디지털혁신팀) 노인주 디지털플랫폼팀
2ab855b2-21be-4a61-9dfd-602a43f633b4 박미숙(디지털혁신팀) 박미숙 디지털플랫폼팀
f2f586ee-8d8b-4696-8bcc-bc5d11284267 빙창민 빙창민 고덕아이파크디어반
a8ccdf9a-7571-4c0e-8d8b-7c9eaf2cde32 김도헌 김도헌 군산호수공원아이파크
6f5b4625-2bb5-4a57-a1b8-8d319a0fa067 이일재 이일재 잠실진주재건축
2e15fd5f-0b1f-4028-ad4d-f69ccac28590 장수호 장수호 용현학익1블록도시개발사업단
b82e71de-8aaf-4c1b-b213-e9ff552f6e3f 김윤호 김윤호 전주태평아이파크
5e6ccb01-f215-4c31-873a-813c44f4b4d7 이부근 이부근 경산아이파크
730d42fa-295f-4426-8e89-1342a1d25061 김정훈 김정훈 김해사이언스파크일반산업단지조성공사
4b623620-cda4-4793-95f0-0310acabc3d7 심재병 심재병 용현학익1블록도시개발사업단
3a79663c-66c4-4df9-8680-95239b034c28 박재환 박재환 베트남렌강수자원개발공사
5ffe9fed-fed6-495e-a1ff-cf570b1d64a4 심창식(건설기획팀) 심창식 건설기획팀
4c1b3ba8-b575-4180-879d-43dd36bae574 위현정(고객서비스팀) 위현정 고객서비스팀
bc838b1c-6bf8-4710-ab30-582c48ea00cc 김원(인프라팀) 김원 인프라팀
515c7d10-953c-4bfc-af9a-e87cf34ccb85 이정은 이정은 마케팅부문
ca074202-337a-4a2c-9a33-3d2eefe0d990 강미희 강미희 마케팅팀
aad2a7a5-6089-418d-a3eb-8a9fa0d3f81c 김자현 김자현 상품기획팀
fae2b2d6-dee2-4fe8-b057-2532c2c08a11 이동훈 이동훈 홍보팀
a13fcec5-0a6d-4861-91f0-a42a4e82855b 김의성 김의성 인프라개발팀
a775aa6b-bb34-4a9d-ab66-81b405095c1c 김홍일 김홍일 미래혁신본부
11d80efd-be44-44b8-9f08-f80e1bc14022 최용 최용 경영분석팀
5ef853e6-eaa4-4a63-a9e2-fea49b4776e2 원혁(디지털혁신팀) 원혁 디지털플랫폼팀
46100b14-e1e5-4394-908d-487442ee4789 이동신(디지털혁신팀) 이동신 디지털플랫폼팀
eae6a39d-15c0-48d5-8bd7-f36427f1007d 김경민(재무팀) 김경민 재무팀
0ed80470-6364-4fff-98ee-2107cce9b6b3 김은중(경영분석팀) 김은중 경영분석팀
38d67120-25af-45dc-b3b6-b5e5f4319177 심동현(정보기술팀) 심동현 정보기술팀
ac8a5c8d-b384-4053-8907-b33782341cab 김주완(경영분석팀) 김주완 경영분석팀
ec4b5013-5e01-497f-bcf2-5a7859c54865 배종민(인프라수주팀) 배종민 인프라수주팀
6ea26420-e9a0-436e-976d-9317acda9cb5 고승의(경영분석팀) 고승의 경영분석팀
118b0f6f-d7ad-44d6-8b45-74eaf15a78b4 최선영(건설기획팀) 최선영 건설기획팀
c71ad766-7876-440b-afa5-d5f48a30df86 이정상(건설기획팀) 이정상 건설기획팀
9ceb0a5f-5875-4e0b-b951-a0d56bdeea30 임유빈(도시개발1팀) 임유빈 도시개발1팀
b9e0858c-7845-4e32-aa67-9ce9f56cdfc0 김아현(미래전략팀) 김아현 미래전략팀
f53c8c2d-fe00-456d-afdd-0a3efa5f184f 김진호(비서) 김진호 재무팀
323c4b3c-168e-48d0-9173-8672dea42eda 이주화(비서) 이주화 재무팀
7472e832-0138-4a97-a3b7-53318822e8f0 강우신(상임자문) 강우신 상임자문(해외사업)
ad05f427-63b6-4ba9-9d06-42392cf4fc5b 이재호(정보기술팀) 이재호 정보기술팀
e3ea9f75-9017-483b-903e-5e09734fcdf8 하지선(디지털혁신팀) 하지선 TheH Firstier IPARK(개포1 주택재건축)
8e46632c-256f-4122-9ebe-12a5047bd721 고유경(안정경영실) 고유경 안전경영실
39bb1ba0-5fab-4880-a27d-69bfd9a9e9b4 박경신 박경신 인프라개발팀
35356ddd-895e-499f-950f-6d9b3b5e92f9 배인준(디지털플랫폼팀) 배인준 디지털플랫폼팀
f3c80300-ea80-4eb7-a085-bd335e822899 오재환(HR혁신팀) 오재환 HR혁신팀
e3214256-fbbe-4208-8e00-75f5d46db56d 성기창(HR혁신팀) 성기창 HR혁신팀
5ae9b472-674f-4cf3-a4cb-2a2bd23a53f9 최혁(마케팅팀) 최혁 마케팅팀

In [ ]:
# with server.auth.sign_in(tableau_auth):
#     user = server.users.get_by_id(row["user_id"])
#     user.fullname = f"{row['name']}({row['dep']})"
    
#     user_rev = server.users.update(user)

## have_account

In [ ]:
hr["account"] = hr.apply(lambda x:True if x["num"] in all_users["user_name"].tolist() else False, axis=1)

In [27]:
### user.remove()

user_id = "371ace7c-8abb-484e-9c61-ac1ab2247f4d"
with server.auth.sign_in(tableau_auth):
    server.users.remove(user_id)
    hr["account"] = hr.apply(lambda x:True if x["num"] in all_users["user_name"].tolist() else False, axis=1)

In [33]:
hr.to_csv("D:/디지털혁신팀/태블로/hr.csv", encoding="euc-kr")

## Projects

In [48]:
with server.auth.sign_in(tableau_auth):
    all_project_items, pagination_item = server.projects.get(req_options=req_opts)
    print([(prj.name, prj.id) for prj in all_project_items])

[('기본값', '7ff34228-4f13-11eb-8d94-cbbd9e107787'), ('Tableau 샘플', '07b1c1a3-d2fb-4a12-b4ba-c65b396f593c'), ('HDC현대산업개발', '2a21240d-3f53-4f02-944d-b01647c3dd51'), ('6월 데이터 확인', '44546321-94c8-4746-b0e5-0dfb3fa4ce5a')]

## Workbooks

In [307]:
# with server.auth.sign_in(tableau_auth):
#     all_wbs, pagination_item = server.workbooks.get()
# all_wbs = [(wb.project_name, wb.name) for wb in all_wbs]
# all_wbs = pd.DataFrame(all_wbs, columns=["prj", "wb"])
# all_wbs = all_wbs.sort_values(by=["prj", "wb"])

## Groups

## groups.get(), groups.populate_users()

In [113]:
with server.auth.sign_in(tableau_auth):
    all_groups, pagination_item = server.groups.get(req_options=req_opts)
all_groups = [(group.name, group.id) for group in all_groups]
all_groups = pd.DataFrame(all_groups, columns=["group", "group_id"])
# all_groups = all_groups.sort_values(by=["group", "group_id"])
# all_groups = all_groups.reset_index(drop=True)

In [114]:
all_groups.to_csv("D:/디지털혁신팀/태블로/all_groups.csv", index=False, encoding="euc-kr")
all_groups.head()

       group                              group_id
0  All Users  80307210-4f13-11eb-8d95-5bc411fd9c23
1       HR현황  8bae0a19-c83c-4713-b932-a489754653de
2     디지털혁신팀  516aa22e-b1ef-47b1-ad64-6e5116622c7f
3     본부장 이상  255400fe-a538-4b6e-80b9-63bb3c4362ae
4       분양일보  16065e45-21b3-4e1b-80e1-c7c41079adfd

In [82]:
group_user = list()
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get(req_options=req_opts)
    for group in groups[1:]:
        pagination_item = server.groups.populate_users(group, req_options=req_opts)
        group_user.extend([(group.name,) + empls[user.name] + (user.site_role,) if user.name in empls.keys() else (group.name, None, None, None, user.name, user.site_role) for user in group.users])

group_user = pd.DataFrame(group_user, columns=["group", "hq", "dep", "job", "name", "site_role"])
group_user = group_user.sort_values(by=["group", "hq", "dep", "job", "name", "site_role"])
group_user = group_user.reset_index(drop=True)

In [83]:
group_user.to_csv("D:/디지털혁신팀/태블로/group_user.csv", index=False, encoding="euc-kr")
group_user.head()

       group      hq         dep  job name site_role
0       HR현황    건설본부       건설기획팀   팀원  심창식    Viewer
1       HR현황  미래혁신본부       HR혁신팀   팀장  선영욱    Viewer
2       HR현황  미래혁신본부     디지털플랫폼팀   팀원  박미숙    Viewer
3       HR현황  미래혁신본부       미래전략팀   서무  김아현    Viewer
4  공수현황 접근그룹  개발영업본부  견적그룹(개발영업)  그룹장  소문석    Viewer

In [24]:
user_name = "creator1"
site_role = "Creator"
newU = TSC.UserItem(user_name, site_role)

print(newU.name, newU.site_role, newU.workbooks)

UnpopulatedPropertyError: User item must be populated with workbooks first.

### groups.create()

In [66]:
try:
    with server.auth.sign_in(tableau_auth):
        newgroup = TSC.GroupItem("마이호미")
        newgroup.minimum_site_role = TSC.UserItem.Roles.Viewer
        newgroup = server.groups.create(newgroup)
except:
    pass

## Add Users to Groups

In [133]:
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get(req_options=req_opts)
    users, pagination_item = server.users.get(req_options=req_opts)
    for _, row in hr[hr["check"].notna()].iterrows():
        idx = all_groups[all_groups["group"] == row["check"]].index[0]
        group = groups[idx]
#         print(group)
        
        user_idx = all_users[all_users["user_name"] == row["num"]].index[0]
        user_id = users[user_idx].id
    
        server.groups.add_user(group, user_id)

<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>
<tableauserverclient.models.group_item.GroupItem object at 0x00000278F1930A08>

In [76]:
keyword = "호미"
num = "5634"

group_idx = all_groups[all_groups["group"].str.contains(keyword)].index[0]
with server.auth.sign_in(tableau_auth):
    groups, pagination_item = server.groups.get(req_options=req_opts)
    group = groups[group_idx]
    
    user_idx = all_users[all_users["user_name"] == num].index[0]
    users, pagination_item = server.users.get(req_options=req_opts)
    user_id = users[user_idx].id
    
    server.groups.add_user(group, user_id)

### users.populate_workbooks()

In [31]:
with server.auth.sign_in(tableau_auth):
    user = server.users.get_by_id("515c7d10-953c-4bfc-af9a-e87cf34ccb85")
    page_n = server.users.populate_workbooks(user)
    for workbook in user.workbooks :
        print(workbook.name)

분양일보_DM 테스트 (2)
AS_210324
마이호미_210326
menu navi test3
CS 현황_test
분양일보_test_210326
진행 현장 실적
Test (현장현황)
menu navi test2
Test (협업플랫폼 사용량)
현장 조직도_210319
마이호미_210329
분양일보_test_월 단위_210329
TEST
CS 현황_6월 데이터 확인
원자재 가격_210202
마이호미_210223
마이호미_210325
분양일보_DM 테스트
설비그룹 조직도_210322
분양일보_모바일
현장 현황test
menu navi
동호표_210331
CS 현황
홈 화면_디자인 변경
마이호미_210322
분양일보_test_210329
협업플랫폼 사용량
본부장회의자료_test
진행 현장 실적
본부장회의자료
마이호미

## Create Accounts

In [111]:
hr.head()

          num    hq         dep   sub  job    rank name check
1714  4100327  건설본부  경기남부고객만족센터  CS외주  A/S  외주직원2급  정기현   NaN
1671  4100193  건설본부  경기북부고객만족센터  CS외주  A/S  외주직원2급  최명찬   NaN
1676  4100247  건설본부  서울강북고객만족센터  CS외주  A/S  외주직원2급  한두식   NaN
1683  4100256  건설본부  서울강북고객만족센터  CS외주  A/S  외주직원2급  한강섭   NaN
1698  4100275  건설본부  경기남부고객만족센터  CS외주  A/S  외주직원3급  최윤용   NaN

In [115]:
with server.auth.sign_in(tableau_auth):
    name = "1101296"
    site_role = "Viewer"
    new_user = TSC.UserItem(name, site_role)
    
    new_user = server.users.add(new_user)   
    new_user.fullname = "황승환(디지털플랫폼팀)"
    new_user.email = "hwangsh@hdc-dvp.com"
    
    new_user = server.users.update(new_user, password=f"hdc{name}")

## Upload a Workbook

In [50]:
# filepath = "D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/마이호미.twbx"
# with server.auth.sign_in(tableau_auth):
#     wb = TSC.WorkbookItem(name="마이호미", project_id="44546321-94c8-4746-b0e5-0dfb3fa4ce5a")
#     wb = server.workbooks.publish(wb, filepath, "Overwrite")

### Sign Out

In [33]:
# server.auth.sign_out()