In [37]:
import pandas as pd
import urllib
import json
import datetime
from tqdm.notebook import tqdm
import traceback
import psycopg2
from psycopg2.extras import RealDictCursor
import pymssql
from dateutil.relativedelta import relativedelta
import pickle as pk

pd.set_option("display.max_columns", None)

## 구글 애널리틱스
- https://ga-dev-tools.appspot.com/query-explorer/

### MAU
- metrics: "ga:users", "ga:pageviews"
- dimentions: "ga:yearMonth"

In [14]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 7, 31)
token = "ya29.a0ARrdaM8NE8YPegZVgbU81SfaeY3ih5yx2WpxAbTlTPSXT9fA_HKe6-0o-Pk6XmrhTPTDQVIb5WiXd1kS8FXGYvZ077BTJCleaiND8GNyR9znl685xFLlPaDvfkcA96GOK-Z4LmbO1d-MS-J8aSESqk7YRRxVRNw"

In [3]:
url = f"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A206525354&start-date={start.strftime('%Y-%m-%d')}&end-date={end.strftime('%Y-%m-%d')}&metrics=ga%3Ausers%2Cga%3Apageviews&dimensions=ga%3AyearMonth&access_token={token}"
req = urllib.request.urlopen(url).read().decode("utf8")
js = json.loads(req)

mau = pd.DataFrame(js["rows"], columns=pd.DataFrame(js["columnHeaders"])["name"].str.split(":").str[1].tolist())

In [7]:
# mau.to_csv(f"D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/mau_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr", index=False)
# mau.tail()

## mall.csv

In [6]:
# cols = ["주문번호", "아이디", "상품ID", "상품명", "수량", "상품금액", "주문일자", "모바일주문여부"]

# with open("D:/디지털혁신팀/태블로/mall_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = pymssql.connect(server="125.60.68.233", database="eiparkclub", user="myhomie", password=password, charset="utf8")
# cur = conn.cursor()

# sql = f"SELECT 주문번호, 임직원아이디, _상품ID, 상품명, 수량, 상품금액, 주문일자, _모바일주문여부 FROM vwAdjustDetail;"
# # sql = f"SELECT 임직원아이디 FROM vwAdjustDetail;"
# cur.execute(sql)

# data = pd.DataFrame(cur.fetchall(), columns=cols)
# # data = pd.DataFrame(cur.fetchall())
# data = data[data["아이디"].str.contains("MBR")]
# data = data.reset_index(drop=True)

In [8]:
# data.to_csv(f"mall_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr", index=False)
# data.head()

# 다운로드(iOS)

In [1]:
# with open("D:/AuthKey_BB99VD4S7X.p8", "r") as f:
#     key_file = f.read()
# api = Api(key_id="BB99VD4S7X", key_file=key_file, issuer_id="252fd97c-ea6e-45b9-a795-693f38f8dbaf")
# api.download_sales_and_trends_reports(filters={"frequency": "DAILY", "reportSubType":"DETAILED", "reportType":"SALES", "vendorNumber": "88755846"})
# # , save_to="report.csv")

In [2]:
# views = pd.DataFrame()
# for i in tqdm(range(100)):
#     try:
#         start = end - datetime.timedelta(days=10*(i+1))
#         end = end - datetime.timedelta(days=10*i)
#         url = f"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A206525354&start-date={start.strftime('%Y-%m-%d')}&end-date={end.strftime('%Y-%m-%d')}&metrics=ga%3Ausers%2Cga%3Apageviews&dimensions=ga%3ApageTitle%2Cga%3Adate&sort=-ga%3Adate&access_token={token}"
#         req = urllib.request.urlopen(url).read().decode("utf8")
#         js = json.loads(req)
        
#         df = pd.DataFrame(js["rows"], columns=pd.DataFrame(js["columnHeaders"])["name"].str.split(":").str[1].tolist())
#         views = pd.concat([views, df])
#     except:
#         break

## 개발사 데이터

## sys_code

In [24]:
# with open("D:/디지털혁신팀/태블로/signup_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
# cur = conn.cursor(cursor_factory=RealDictCursor)
# query = f"SELECT * FROM hdc_sys.sys_code;"
# cur.execute(query)
# result = cur.fetchall()

# sys_code = pd.DataFrame(result)

In [18]:
# sys_code.head()

## apt_mst.csv

In [19]:
with open("D:/디지털혁신팀/태블로/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = f"SELECT * FROM hdc_apt.apt_mst;"
cur.execute(query)
result = cur.fetchall()

apt_mst = pd.DataFrame(result)

In [23]:
# apt_mst.to_csv(f"D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/apt_mst_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr",  index=False)
# apt_mst.head()

## signup.csv

In [20]:
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT *
FROM hdc_sys.sys_code
"""
cur.execute(query)
result = cur.fetchall()
sys_code = pd.DataFrame(result)

In [49]:
sys_code[sys_code["crd"] == "C000004001"]

,crd,crd_group,crd_name,crd_description,crd_use_yn,crd_order,crd_delete_yn,regist_dt,regist_id,update_dt,update_id
110,C000004001,C000000004,입주예정자,인증된 계약자,Y,1.0,N,2019-07-23 16:23:19.460383,MBR0000000001,2019-10-19 18:04:41.436037,MBR0000000000

In [76]:
# 입주예정자
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT
    A.mbr_id,
    G.apt_name,
    H.dng_no,
    H.ho_no,
    B.crd_name AS mbr_sys_ty_name,
    C.crd_name AS mbr_st_name,
    CASE A.mbr_sex
    WHEN '0' THEN '남자'
    WHEN '1' THEN '여자'
    END,
    A.mbr_birth,
    A.regist_dt AS mbr_reg_dt,
    A.mbr_delete_date AS mbr_del_dt
FROM
    hdc_mbr.mbr_mst AS A
    LEFT JOIN hdc_sys.sys_code AS B
        ON A.mbr_sys_ty = B.crd
    LEFT JOIN hdc_sys.sys_code AS C
        ON A.mbr_st = C.crd
    INNER JOIN hdc_mbr.mbr_cert AS E
        ON A.mbr_id = E.mbr_id
    INNER JOIN hdc_mbr.mbr_apt_cert_his AS F
        ON E.mbr_acert_id = F.apt_cert_id
    INNER JOIN hdc_apt.apt_mst AS G
        ON F.apt_id = G.apt_id
    INNER JOIN hdc_apt.apt_unit_info AS H
        ON F.apt_unit_id = H.unit_id
WHERE
    A.mbr_admin_yn = 'N'
    AND	A.mbr_sys_ty = 'C000004001'
ORDER BY
    A.regist_dt DESC;
"""
cur.execute(query)
result = cur.fetchall()
a = pd.DataFrame(result)

In [79]:
a[(a["mbr_del_dt"].isna()) & (a["mbr_reg_dt"] <= "2021-07-31")]

,mbr_id,apt_name,dng_no,ho_no,mbr_sys_ty_name,mbr_st_name,case,mbr_birth,mbr_reg_dt,mbr_del_dt
17,MBR0000027656,캐슬앤파밀리에시티1단지,102,405,입주예정자,정상,여자,19771017,2021-07-30 17:25:09.299165,NaT
18,MBR0000027655,캐슬앤파밀리에시티1단지,128,805,입주예정자,정상,여자,19551009,2021-07-30 16:07:11.764067,NaT
19,MBR0000027650,캐슬앤파밀리에시티1단지,134,503,입주예정자,정상,여자,19700211,2021-07-30 11:44:42.632343,NaT
20,MBR0000027648,캐슬앤파밀리에시티1단지,122,603,입주예정자,정상,남자,19900625,2021-07-30 10:03:27.035768,NaT
21,MBR0000027645,대구 복현 아이파크,105,202,입주예정자,정상,여자,19780413,2021-07-29 21:45:57.738883,NaT
...,...,...,...,...,...,...,...,...,...,...
16167,MBR0000000024,잠실 올림픽공원 아이파크,105,3002,입주예정자,정상,여자,19760828,2019-10-24 09:55:46.869401,NaT
16168,MBR0000000021,잠실 HDC 아파트,112,101,입주예정자,탈퇴,남자,19790428,2019-10-23 23:07:18.600666,NaT
16169,MBR0000000020,잠실 HDC 아파트,111,109,입주예정자,탈퇴,남자,19761111,2019-10-23 20:42:06.894896,NaT
16170,MBR0000000019,잠실 HDC 아파트,111,110,입주예정자,탈퇴,남자,19761010,2019-10-23 19:37:18.981733,NaT
16171,MBR0000000015,잠실 올림픽공원 아이파크,9002,3003,입주예정자,탈퇴,남자,19761010,2019-10-23 16:12:29.634837,NaT

In [95]:
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT A.*
          FROM (
        SELECT MBRMST.MBR_ID
        	 , MBRMST.LOGIN_ID
             , APTMST.APT_NAME
             , AUI.DNG_NO
             , AUI.HO_NO
             , AUI.SEP_NO
             , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
             , MBRMST.MBR_SEX
             , MBRMST.MBR_BIRTH
             , MBRMST.MBR_NICKNAME
             , MBRMST.MBR_PHONE
             , MBRMST.MBR_SYS_TY
             , C1.CRD_NAME AS MBR_SYS_TY_NAME
             , MBRMST.MBR_ST
             , C2.CRD_NAME AS MBR_ST_NAME
             , MBRMST.REGIST_DT
             , HMMD.MBR_LAST_ACCESS_DT
             , MBRCERT.MBR_ACERT_ID
             , APTMST.APT_ID
             , C3.CRD_GROUP AS LOC1
             , APTMST.APT_ADDR_CODE
             , MBRMST.MBR_MEMO
             , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
             , AUI.UNIT_ID
             , MBRMST.MBR_ADMIN_YN
             , MBRMST.MBR_FAMILLY_TY
             , CASE WHEN MBRMST.MBR_DELETE_DATE IS NULL THEN ''
                    WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL THEN TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
                END MBR_DELETE_DATE 
          FROM HDC_MBR.MBR_MST MBRMST
	 LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
     LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
     LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
	INNER JOIN HDC_MBR.MBR_CERT MBRCERT ON MBRMST.MBR_ID = MBRCERT.MBR_ID
	INNER JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
	INNER JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
    INNER JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
	 LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD) A
	WHERE 1=1
	AND A.MBR_ADMIN_YN = 'N'
	AND	A.MBR_SYS_TY = 'C000004001'
    ORDER BY A.REGIST_DT DESC;
"""
cur.execute(query)
result = cur.fetchall()
a = pd.DataFrame(result)

In [91]:
a[(a["mbr_st_name"] == "정상") & (a["regist_dt"] <= "2021-07-31")]

,mbr_id,login_id,apt_name,dng_no,ho_no,sep_no,mbr_name,mbr_sex,mbr_birth,mbr_nickname,mbr_phone,mbr_sys_ty,mbr_sys_ty_name,mbr_st,mbr_st_name,regist_dt,mbr_last_access_dt,mbr_acert_id,apt_id,loc1,apt_addr_code,mbr_memo,mbr_leaving_expected_date,unit_id,mbr_admin_yn,mbr_familly_ty,mbr_delete_date
17,MBR0000027656,nina08,캐슬앤파밀리에시티1단지,102,405,None,김효진(nina08),1,19771017,별사랑h,01023198434,C000004001,입주예정자,C000002001,정상,2021-07-30 17:25:09.299165,2021-08-02 15:15:50.801517,ACT0000055645,APT0000079481,C000015002,C015002005,None,None,UNI0000079680,N,C000017001,
18,MBR0000027655,kds0814,캐슬앤파밀리에시티1단지,128,805,None,한우섭(kds0814),1,19551009,우섭,01067435925,C000004001,입주예정자,C000002001,정상,2021-07-30 16:07:11.764067,2021-07-31 18:28:23.453518,ACT0000055643,APT0000079481,C000015002,C015002005,None,None,UNI0000081205,N,C000017001,
19,MBR0000027650,limi211,캐슬앤파밀리에시티1단지,134,503,None,박정림(limi211),1,19700211,캐파박자매,01075675239,C000004001,입주예정자,C000002001,정상,2021-07-30 11:44:42.632343,NaT,ACT0000055638,APT0000079481,C000015002,C015002005,None,None,UNI0000081573,N,C000017004,
20,MBR0000027648,kmsgkgk,캐슬앤파밀리에시티1단지,122,603,None,강민성(kmsgkgk),0,19900625,두두킹,01062611596,C000004001,입주예정자,C000002001,정상,2021-07-30 10:03:27.035768,2021-07-30 13:01:48.345523,ACT0000055636,APT0000079481,C000015002,C015002005,None,None,UNI0000080827,N,C000017001,
21,MBR0000027645,ipark105202,대구 복현 아이파크,105,202,None,한선화(ipark105202),1,19780413,민윤맘,01028173296,C000004001,입주예정자,C000002001,정상,2021-07-29 21:45:57.738883,2021-08-09 09:35:00.910568,ACT0000055634,APT0000102074,C000015004,C005004001,None,None,UNI0000104940,N,C000017002,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16154,MBR0000000043,wonam99,잠실 올림픽공원 아이파크,102,1503,None,김도혜(wonam99),1,19721112,김또깡,01081770627,C000004001,입주예정자,C000002001,정상,2019-10-26 14:12:41.154315,2021-03-03 19:28:54.248455,ACT0000000104,APT0000000921,C000015001,C015001001,None,None,UNI0000001068,N,C000017002,
16155,MBR0000000042,Khhmms,잠실 올림픽공원 아이파크,103,2803,None,김현하(Khhmms),1,19680411,킴짱,01081606636,C000004001,입주예정자,C000002001,정상,2019-10-26 13:19:07.125626,NaT,ACT0000000102,APT0000000921,C000015001,C015001001,None,None,UNI0000001211,N,C000017004,
16158,MBR0000000037,jihaeone,잠실 올림픽공원 아이파크,103,2803,None,유지혜(jihaeone),1,19660207,고고가,01062893176,C000004001,입주예정자,C000002001,정상,2019-10-25 12:11:57.867290,2021-03-03 10:49:18.055064,ACT0000000089,APT0000000921,C000015001,C015001001,None,None,UNI0000001211,N,C000017002,
16159,MBR0000000035,kej20611,잠실 올림픽공원 아이파크,105,1102,None,김은정(kej20611),1,19870227,사랑맘,01076890306,C000004001,입주예정자,C000002001,정상,2019-10-25 10:09:48.107118,2020-06-29 11:12:45.132129,ACT0000000085,APT0000000921,C000015001,C015001001,None,None,UNI0000001440,N,C000017002,
16167,MBR0000000024,lilykk7,잠실 올림픽공원 아이파크,105,3002,None,김경희(lilykk7),1,19760828,블랙맘마,01025122090,C000004001,입주예정자,C000002001,정상,2019-10-24 09:55:46.869401,2020-04-16 19:53:43.346560,ACT0000000061,APT0000000921,C000015001,C015001001,None,None,UNI0000001459,N,C000017001,

In [98]:
a[(a["regist_dt"] <= "2021-07-31")]["mbr_st_name"].value_counts()

정상       15315
탈퇴         811
휴면 상태       25
중지           4
Name: mbr_st_name, dtype: int64

In [93]:
a[(a["mbr_st_name"] == "중지") & (a["regist_dt"] <= "2021-07-31")]

,mbr_id,login_id,apt_name,dng_no,ho_no,sep_no,mbr_name,mbr_sex,mbr_birth,mbr_nickname,mbr_phone,mbr_sys_ty,mbr_sys_ty_name,mbr_st,mbr_st_name,regist_dt,mbr_last_access_dt,mbr_acert_id,apt_id,loc1,apt_addr_code,mbr_memo,mbr_leaving_expected_date,unit_id,mbr_admin_yn,mbr_familly_ty,mbr_delete_date
55,MBR0000027410,bjliaison,병점역 아이파크 캐슬,999,2,,홈리에종(bjliaison),1,19820909,병점홈리에종,01085909707,C000004001,입주예정자,C000002003,중지,2021-07-14 15:47:10.005158,2021-07-19 09:43:26.246098,ACT0000055271,APT0000094182,C000015002,C015002002,,None,UNI0000115266,N,C000017001,
363,MBR0000026435,dtzium,동탄 호수공원 아이파크,999,401,,지움(dtzium),0,19790607,지움,01092910648,C000004001,입주예정자,C000002003,중지,2021-05-10 14:46:34.675825,2021-05-17 11:28:40.192582,ACT0000051231,APT0000002590,C000015002,C015002002,None,None,UNI0000113199,N,C000017001,
411,MBR0000026349,dtLG,동탄 호수공원 아이파크,999,301,3,엘지총판(dtLG),0,19330305,엘지총판,01092910648,C000004001,입주예정자,C000002003,중지,2021-05-06 14:14:19.418933,2021-05-07 16:28:45.589084,ACT0000051074,APT0000002590,C000015002,C015002002,None,None,UNI0000112994,N,C000017001,
1743,MBR0000022499,dtms,동탄 호수공원 아이파크,888,1001,,맘시터(dtms),1,19330404,맘시터임시계정,01041840457,C000004001,입주예정자,C000002003,중지,2021-03-04 16:50:08.585631,2021-03-04 16:55:41.444338,ACT0000043301,APT0000002590,C000015002,C015002002,맘시터 계정 중지,None,UNI0000105214,N,C000017001,

In [99]:
a[a["mbr_nickname"] == "홈리에종"]

,mbr_id,login_id,apt_name,dng_no,ho_no,sep_no,mbr_name,mbr_sex,mbr_birth,mbr_nickname,mbr_phone,mbr_sys_ty,mbr_sys_ty_name,mbr_st,mbr_st_name,regist_dt,mbr_last_access_dt,mbr_acert_id,apt_id,loc1,apt_addr_code,mbr_memo,mbr_leaving_expected_date,unit_id,mbr_admin_yn,mbr_familly_ty,mbr_delete_date
109,MBR0000027172,dtliaison,동탄 호수공원 아이파크,999,501,,홈리에종(dtliaison),1,19880529,홈리에종,01092910648,C000004001,입주예정자,C000002005,탈퇴,2021-06-25 15:00:03.496507,2021-07-14 13:20:22.433747,ACT0000054262,APT0000002590,C000015002,C015002002,,None,UNI0000114807,N,C000017001,

In [48]:
# 대표, 세대원
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT
    A.mbr_id,
    G.apt_name,
    H.dng_no,
    H.ho_no,
    B.crd_name AS mbr_sys_ty_name,
    C.crd_name AS mbr_st_name,
    CASE A.mbr_sex
    WHEN '0' THEN '남자'
    WHEN '1' THEN '여자'
    END,
    A.mbr_birth,
    A.regist_dt AS mbr_reg_dt,
    A.mbr_delete_date AS mbr_del_dt
FROM
    hdc_mbr.mbr_mst AS A
    LEFT JOIN hdc_sys.sys_code AS B
        ON A.mbr_sys_ty = B.crd
    LEFT JOIN hdc_sys.sys_code AS C
        ON A.mbr_st = C.crd
    INNER JOIN hdc_mbr.mbr_group_mbr AS I
        ON A.mbr_id = I.mbr_id
        AND I.group_mbr_invite_st != 'C000002009'
    INNER JOIN hdc_mbr.mbr_group AS J
        ON I.grp_id = J.grp_id
    LEFT JOIN hdc_mbr.mbr_cert AS E ON J.grp_owner = E.mbr_id
    LEFT JOIN hdc_mbr.mbr_apt_cert_his AS F ON E.mbr_acert_id = F.apt_cert_id
    LEFT JOIN hdc_apt.apt_mst AS G ON F.apt_id = G.apt_id
    LEFT JOIN hdc_apt.apt_unit_info AS H ON F.apt_unit_id = H.unit_id

	WHERE
        A.mbr_admin_yn = 'N'
        AND	A.mbr_sys_ty IN ('C000004003','C000004004')
    ORDER BY
        A.regist_dt DESC;
"""
cur.execute(query)
result = cur.fetchall()
b = pd.DataFrame(result)

In [49]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 922 entries, 0 to 921
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mbr_id           922 non-null    object
 1   apt_name         922 non-null    object
 2   dng_no           922 non-null    object
 3   ho_no            922 non-null    object
 4   mbr_sys_ty_name  922 non-null    object
 5   mbr_st_name      922 non-null    object
 6   case             922 non-null    object
 7   mbr_birth        922 non-null    object
 8   mbr_reg_dt       922 non-null    datetime64[ns]
 9   mbr_del_dt       22 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(8)
memory usage: 72.2+ KB

In [52]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7180 entries, 0 to 7179
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   mbr_id                     7180 non-null   object
 1   login_id                   7180 non-null   object
 2   apt_name                   7180 non-null   object
 3   dng_no                     7180 non-null   object
 4   ho_no                      7180 non-null   object
 5   sep_no                     148 non-null    object
 6   mbr_name                   7180 non-null   object
 7   mbr_sex                    7180 non-null   object
 8   mbr_birth                  7180 non-null   object
 9   mbr_nickname               7180 non-null   object
 10  mbr_phone                  7180 non-null   object
 11  mbr_sys_ty                 7180 non-null   object
 12  mbr_sys_ty_name            7180 non-null   object
 13  mbr_st                     7180 non-null   object
 14  mbr_st_name                7180 non-null   object
 15  regist_dt                  7180 non-null   datetime64[ns]
 16  mbr_last_access_dt         6758 non-null   datetime64[ns]
 17  mbr_acert_id               7180 non-null   object
 18  apt_id                     7180 non-null   object
 19  loc1                       7180 non-null   object
 20  apt_addr_code              7180 non-null   object
 21  mbr_memo                   38 non-null     object
 22  mbr_leaving_expected_date  0 non-null      object
 23  unit_id                    7180 non-null   object
 24  mbr_admin_yn               7180 non-null   object
 25  mbr_familly_ty             7180 non-null   object
 26  mbr_delete_date            7180 non-null   object
dtypes: datetime64[ns](2), object(25)
memory usage: 1.5+ MB

In [58]:
b["mbr_sys_ty_name"].value_counts()

입주자(세대원)    921
입주자(대표)       1
Name: mbr_sys_ty_name, dtype: int64

In [74]:
c[c["mbr_delete_date"]==""]["mbr_sys_ty_name"].value_counts()

Series([], Name: mbr_sys_ty_name, dtype: int64)

In [73]:
a[a["mbr_del_dt"].i]["mbr_sys_ty_name"].value_counts()

입주예정자    15638
Name: mbr_sys_ty_name, dtype: int64

In [54]:
# 대표, 세대원
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT A.*
          FROM (
        SELECT MBRMST.MBR_ID
        	 , MBRMST.LOGIN_ID
             , APTMST.APT_NAME
             , AUI.DNG_NO
             , AUI.HO_NO
             , AUI.SEP_NO
             , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
             , MBRMST.MBR_SEX
             , MBRMST.MBR_BIRTH
             , MBRMST.MBR_NICKNAME
             , MBRMST.MBR_PHONE
             , MBRMST.MBR_SYS_TY
             , C1.CRD_NAME AS MBR_SYS_TY_NAME
             , MBRMST.MBR_ST
             , C2.CRD_NAME AS MBR_ST_NAME
             , MBRMST.REGIST_DT
             , HMMD.MBR_LAST_ACCESS_DT
             , MBRCERT.MBR_ACERT_ID
             , APTMST.APT_ID
             , C3.CRD_GROUP AS LOC1
             , APTMST.APT_ADDR_CODE
             , MBRMST.MBR_MEMO
             , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
             , AUI.UNIT_ID
             , MBRMST.MBR_ADMIN_YN
             , MBRMST.MBR_FAMILLY_TY
             , CASE WHEN MBRMST.MBR_DELETE_DATE IS NULL THEN ''
                    WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL THEN TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
                END MBR_DELETE_DATE 
          FROM HDC_MBR.MBR_MST MBRMST
	 LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
     LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
     LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
	INNER JOIN HDC_MBR.MBR_CERT MBRCERT ON MBRMST.MBR_ID = MBRCERT.MBR_ID
	INNER JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
	INNER JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
    INNER JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
	 LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD
	  UNION
        SELECT MBRMST.MBR_ID
             , MBRMST.LOGIN_ID
             , APTMST.APT_NAME
             , AUI.DNG_NO
             , AUI.HO_NO
             , AUI.SEP_NO
             , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
             , MBRMST.MBR_SEX
             , MBRMST.MBR_BIRTH
             , MBRMST.MBR_NICKNAME
             , MBRMST.MBR_PHONE
             , MBRMST.MBR_SYS_TY
             , C1.CRD_NAME AS MBR_SYS_TY_NAME
             , MBRMST.MBR_ST
             , C2.CRD_NAME AS MBR_ST_NAME
             , MBRMST.REGIST_DT
             , HMMD.MBR_LAST_ACCESS_DT
             , MBRCERT.MBR_ACERT_ID
             , APTMST.APT_ID
             , C3.CRD_GROUP AS LOC1
             , APTMST.APT_ADDR_CODE
             , MBRMST.MBR_MEMO
             , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
             , AUI.UNIT_ID
             , MBRMST.MBR_ADMIN_YN
             , MBRMST.MBR_FAMILLY_TY
             , CASE WHEN MBRMST.MBR_DELETE_DATE IS NULL THEN ''
                    WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL THEN TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
                END MBR_DELETE_DATE
          FROM HDC_MBR.MBR_MST MBRMST
     LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
     LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
     LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
	 
	INNER JOIN HDC_MBR.MBR_GROUP_MBR MGM ON MBRMST.MBR_ID = MGM.MBR_ID AND MGM.GROUP_MBR_INVITE_ST != 'C000002009'
	
    INNER JOIN HDC_MBR.MBR_GROUP MG ON MGM.GRP_ID = MG.GRP_ID
 	 LEFT JOIN HDC_MBR.MBR_CERT MBRCERT ON MG.GRP_OWNER = MBRCERT.MBR_ID
 	 LEFT JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
 	 LEFT JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
     LEFT JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
	 LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD
	 ) A
	WHERE 1=1
	AND A.MBR_ADMIN_YN = 'N'
	AND	A.MBR_SYS_TY IN ('C000004003','C000004004')
    ORDER BY A.REGIST_DT DESC
"""
cur.execute(query)
result = cur.fetchall()
c = pd.DataFrame(result)a
c
# c.to_csv("D:/c.csv", index=False, encoding="euc-kr")

UnicodeEncodeError: 'euc_kr' codec can't encode character '\U0001f347' in position 72: illegal multibyte sequence

In [50]:
# with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
# cur = conn.cursor(cursor_factory=RealDictCursor)
# query = f"SELECT hdc_mbr.mbr_mst.mbr_id, \
# CASE hdc_mbr.mbr_mst.mbr_sys_ty  \
# WHEN 'C000004001' THEN '입주예정자' \
# WHEN 'C000004003' THEN '입주자(대표)' \
# WHEN 'C000004004' THEN '입주자(세대원)' \
# END AS mbr_sys_ty, \
# CASE hdc_mbr.mbr_mst.mbr_sex \
# WHEN '0' THEN '남자' \
# WHEN '1' THEN '여자' \
# END AS mbr_sex, \
# hdc_mbr.mbr_mst.mbr_birth, hdc_mbr.mbr_mst.regist_dt, hdc_mbr.mbr_mst.mbr_delete_date, \
# CASE hdc_mbr.mbr_mst.mbr_st \
# WHEN 'C000002001' THEN '정상' \
# WHEN 'C000002005' THEN' 탈퇴' \
# WHEN 'C000002007' THEN '퇴거' \
# WHEN 'C000002008' THEN '휴면상태' \
# END AS mbr_st, \
# hdc_apt.apt_unit_mbr.mbr_id, \
# hdc_apt.apt_unit_info.dng_no, hdc_apt.apt_unit_info.ho_no, \
# hdc_apt.apt_mst.apt_name  \
# FROM hdc_mbr.mbr_mst  \
# LEFT OUTER JOIN hdc_apt.apt_unit_mbr  \
# LEFT OUTER JOIN hdc_apt.apt_unit_info  \
# LEFT OUTER JOIN hdc_apt.apt_mst  \
# ON hdc_apt.apt_unit_info.apt_id = hdc_apt.apt_mst.apt_id  \
# ON hdc_apt.apt_unit_mbr.unit_id = hdc_apt.apt_unit_info.unit_id  \
# ON hdc_mbr.mbr_mst.mbr_id = hdc_apt.apt_unit_mbr.mbr_id;"
# cur.execute(query)
# result = cur.fetchall()
# signup = pd.DataFrame(result)

In [17]:
signup.to_csv("signup.csv", encoding="euc-kr")

In [12]:
# signup = signup[signup["apt_name"].notna()]
# signup["mbr_sys_ty"] = signup["mbr_sys_ty"].map({"C000004001":"입주예정자", "C000004003":"입주자(대표)", "C000004004":"입주자(세대원)"})
# signup["mbr_sex"] = signup["mbr_sex"].map({"0":"남자", "1":"여자"})
# signup["mbr_st"] = signup["mbr_st"].map({"C000002001":"정상", "C000002005":"탈퇴", "C000002007":"퇴거", "C000002008":"휴면상태"})
# signup = signup.rename({"mbr_id":"아이디", "apt_name":"아파트 명", "dng_no":"동", "ho_no":"호", "mbr_sys_ty":"회원유형", "mbr_st":"회원상태", "mbr_sex":"성별", "mbr_birth":"생년월일", "regist_dt":"가입일", "mbr_delete_date":"탈퇴일"}, axis=1)
# signup["성별/생년월일"] = signup["성별"] + "/" + signup["생년월일"]
# signup = signup[["아이디", "아파트 명", "동", "호", "회원유형", "회원상태", "성별/생년월일", "가입일", "탈퇴일"]]

In [15]:
signup.to_csv(f"D:/Github/Work/Tableau/Myhomie/signup_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr")