In [2]:
import pandas as pd
import urllib
import json
import datetime
from tqdm.notebook import tqdm
import traceback
import psycopg2
from psycopg2.extras import RealDictCursor
import pymssql
from dateutil.relativedelta import relativedelta
import pickle as pk

pd.set_option("display.max_columns", None)

## 구글 애널리틱스
- https://ga-dev-tools.appspot.com/query-explorer/

### MAU
- metrics: "ga:users", "ga:pageviews"
- dimentions: "ga:yearMonth"

In [14]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2021, 7, 31)
token = "ya29.a0ARrdaM8NE8YPegZVgbU81SfaeY3ih5yx2WpxAbTlTPSXT9fA_HKe6-0o-Pk6XmrhTPTDQVIb5WiXd1kS8FXGYvZ077BTJCleaiND8GNyR9znl685xFLlPaDvfkcA96GOK-Z4LmbO1d-MS-J8aSESqk7YRRxVRNw"

In [3]:
url = f"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A206525354&start-date={start.strftime('%Y-%m-%d')}&end-date={end.strftime('%Y-%m-%d')}&metrics=ga%3Ausers%2Cga%3Apageviews&dimensions=ga%3AyearMonth&access_token={token}"
req = urllib.request.urlopen(url).read().decode("utf8")
js = json.loads(req)

mau = pd.DataFrame(js["rows"], columns=pd.DataFrame(js["columnHeaders"])["name"].str.split(":").str[1].tolist())

In [7]:
# mau.to_csv(f"D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/mau_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr", index=False)
# mau.tail()

## mall.csv

In [6]:
# cols = ["주문번호", "아이디", "상품ID", "상품명", "수량", "상품금액", "주문일자", "모바일주문여부"]

# with open("D:/디지털혁신팀/태블로/mall_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = pymssql.connect(server="125.60.68.233", database="eiparkclub", user="myhomie", password=password, charset="utf8")
# cur = conn.cursor()

# sql = f"SELECT 주문번호, 임직원아이디, _상품ID, 상품명, 수량, 상품금액, 주문일자, _모바일주문여부 FROM vwAdjustDetail;"
# # sql = f"SELECT 임직원아이디 FROM vwAdjustDetail;"
# cur.execute(sql)

# data = pd.DataFrame(cur.fetchall(), columns=cols)
# # data = pd.DataFrame(cur.fetchall())
# data = data[data["아이디"].str.contains("MBR")]
# data = data.reset_index(drop=True)

In [8]:
# data.to_csv(f"mall_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr", index=False)
# data.head()

# 다운로드(iOS)

In [1]:
# with open("D:/AuthKey_BB99VD4S7X.p8", "r") as f:
#     key_file = f.read()
# api = Api(key_id="BB99VD4S7X", key_file=key_file, issuer_id="252fd97c-ea6e-45b9-a795-693f38f8dbaf")
# api.download_sales_and_trends_reports(filters={"frequency": "DAILY", "reportSubType":"DETAILED", "reportType":"SALES", "vendorNumber": "88755846"})
# # , save_to="report.csv")

In [2]:
# views = pd.DataFrame()
# for i in tqdm(range(100)):
#     try:
#         start = end - datetime.timedelta(days=10*(i+1))
#         end = end - datetime.timedelta(days=10*i)
#         url = f"https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A206525354&start-date={start.strftime('%Y-%m-%d')}&end-date={end.strftime('%Y-%m-%d')}&metrics=ga%3Ausers%2Cga%3Apageviews&dimensions=ga%3ApageTitle%2Cga%3Adate&sort=-ga%3Adate&access_token={token}"
#         req = urllib.request.urlopen(url).read().decode("utf8")
#         js = json.loads(req)
        
#         df = pd.DataFrame(js["rows"], columns=pd.DataFrame(js["columnHeaders"])["name"].str.split(":").str[1].tolist())
#         views = pd.concat([views, df])
#     except:
#         break

## 개발사 데이터

## sys_code

In [24]:
# with open("D:/디지털혁신팀/태블로/signup_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
# cur = conn.cursor(cursor_factory=RealDictCursor)
# query = f"SELECT * FROM hdc_sys.sys_code;"
# cur.execute(query)
# result = cur.fetchall()

# sys_code = pd.DataFrame(result)

In [18]:
# sys_code.head()

## apt_mst.csv

In [19]:
with open("D:/디지털혁신팀/태블로/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = f"SELECT * FROM hdc_apt.apt_mst;"
cur.execute(query)
result = cur.fetchall()

apt_mst = pd.DataFrame(result)

In [23]:
# apt_mst.to_csv(f"D:/디지털혁신팀/태블로/마이호미/마이호미_FINAL/apt_mst_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr",  index=False)
# apt_mst.head()

## signup.csv

In [ ]:
SELECT
    A.*
FROM (
    SELECT
        mbrmst.mbr_id,
        mbrmst.login_id,
        aptmst.apt_name,
        aui.dng_no,
        aui.ho_no,
        aui.sep_no,
        CONCAT(mbrmst.mbr_name, '(', mbrmst.login_id, ')') AS mbr_name,
        mbrmst.mbr_sex,
        mbrmst.mbr_birth,
        mbrmst.mbr_nickname,
        mbrmst.mbr_phone,
        mbrmst.mbr_sys_ty,
        C1.crd_name AS mbr_sys_ty_name,
        mbrmst.mbr_st,
        C2.crd_name AS mbr_st_name,
        mbrmst.regist_dt,
        hmmd.mbr_last_access_dt,
        mbrcert.mbr_acert_id,
        aptmst.apt_id,
        C3.crd_group AS loc1,
        aptmst.apt_addr_code,
        mbrmst.mbr_memo,
        TO_CHAR(mbrmst.mbr_leaving_expected_date, 'YYYY/MM/DD') AS mbr_leaving_expected_date,
        aui.unit_id,
        mbrmst.mbr_admin_yn,
        mbrmst.mbr_familly_ty,
        CASE WHEN mbrmst.mbr_delete_date IS NULL        THEN            ''        WHEN mbrmst.mbr_delete_date is not NULL        THEN            TO_CHAR(mbrmst.mbr_delete_date,'yyyy/mm/dd')        end mbr_delete_date     FROM        hdc_mbr.mbr_mst mbrmst        left JOIN hdc_mbr.mbr_device hmmd on mbrmst.mbr_id = hmmd.mbr_id        left JOIN hdc_sys.sys_code C1 on mbrmst.mbr_sys_ty = C1.crd        left JOIN hdc_sys.sys_code C2 on mbrmst.mbr_st = C2.crd        inner JOIN hdc_mbr.mbr_cert mbrcert on mbrmst.mbr_id = mbrcert.mbr_id        inner JOIN hdc_mbr.mbr_apt_cert_his ach on mbrcert.mbr_acert_id = ach.apt_cert_id        inner JOIN hdc_apt.apt_mst aptmst on ach.apt_id = aptmst.apt_id        inner JOIN hdc_apt.apt_unit_info aui on ach.apt_unit_id = aui.unit_id        left JOIN hdc_sys.sys_code C3 on aptmst.apt_addr_code = C3.crd) a\twhere        1=1        and a.mbr_admin_yn = 'n'        and\ta.mbr_sys_ty = 'c000004001'    order by        a.regist_dt descunionSELECT    a.*FROM (        SELECT mbrmst.mbr_id        \t , mbrmst.login_id             , aptmst.apt_name             , aui.dng_no             , aui.ho_no             , aui.sep_no             , CONCAT(mbrmst.mbr_name,'(',mbrmst.login_id, ')') AS mbr_name             , mbrmst.mbr_sex             , mbrmst.mbr_birth             , mbrmst.mbr_nickname             , mbrmst.mbr_phone             , mbrmst.mbr_sys_ty             , C1.crd_name AS mbr_sys_ty_name             , mbrmst.mbr_st             , C2.crd_name AS mbr_st_name             , mbrmst.regist_dt             , hmmd.mbr_last_access_dt             , mbrcert.mbr_acert_id             , aptmst.apt_id             , C3.crd_group AS loc1             , aptmst.apt_addr_code             , mbrmst.mbr_memo             , TO_CHAR(mbrmst.mbr_leaving_expected_date, 'yyyy/mm/dd') AS mbr_leaving_expected_date              , aui.unit_id             , mbrmst.mbr_admin_yn             , mbrmst.mbr_familly_ty             , CASE WHEN mbrmst.mbr_delete_date is NULL THEN ''                    WHEN mbrmst.mbr_delete_date is not NULL THEN TO_CHAR(mbrmst.mbr_delete_date,'yyyy/mm/dd')                end mbr_delete_date           FROM hdc_mbr.mbr_mst mbrmst\t left JOIN hdc_mbr.mbr_device hmmd on mbrmst.mbr_id = hmmd.mbr_id     left JOIN hdc_sys.sys_code C1 on mbrmst.mbr_sys_ty = C1.crd     left JOIN hdc_sys.sys_code C2 on mbrmst.mbr_st = C2.crd\tinner JOIN hdc_mbr.mbr_cert mbrcert on mbrmst.mbr_id = mbrcert.mbr_id\tinner JOIN hdc_mbr.mbr_apt_cert_his ach on mbrcert.mbr_acert_id = ach.apt_cert_id\tinner JOIN hdc_apt.apt_mst aptmst on ach.apt_id = aptmst.apt_id    inner JOIN hdc_apt.apt_unit_info aui on ach.apt_unit_id = aui.unit_id\t left JOIN hdc_sys.sys_code C3 on aptmst.apt_addr_code = C3.crd\t  union        SELECT mbrmst.mbr_id             , mbrmst.login_id             , aptmst.apt_name             , aui.dng_no             , aui.ho_no             , aui.sep_no             , CONCAT(mbrmst.mbr_name,'(',mbrmst.login_id, ')') AS mbr_name             , mbrmst.mbr_sex             , mbrmst.mbr_birth             , mbrmst.mbr_nickname             , mbrmst.mbr_phone             , mbrmst.mbr_sys_ty             , C1.crd_name AS mbr_sys_ty_name             , mbrmst.mbr_st             , C2.crd_name AS mbr_st_name             , mbrmst.regist_dt             , hmmd.mbr_last_access_dt             , mbrcert.mbr_acert_id             , aptmst.apt_id             , C3.crd_group AS loc1             , aptmst.apt_addr_code             , mbrmst.mbr_memo             , TO_CHAR(mbrmst.mbr_leaving_expected_date, 'yyyy/mm/dd') AS mbr_leaving_expected_date              , aui.unit_id             , mbrmst.mbr_admin_yn             , mbrmst.mbr_familly_ty             , CASE WHEN mbrmst.mbr_delete_date is NULL THEN ''                    WHEN mbrmst.mbr_delete_date is not NULL THEN TO_CHAR(mbrmst.mbr_delete_date,'yyyy/mm/dd')                end mbr_delete_date          FROM hdc_mbr.mbr_mst mbrmst     left JOIN hdc_mbr.mbr_device hmmd on mbrmst.mbr_id = hmmd.mbr_id     left JOIN hdc_sys.sys_code C1 on mbrmst.mbr_sys_ty = C1.crd     left JOIN hdc_sys.sys_code C2 on mbrmst.mbr_st = C2.crd\t \tinner JOIN hdc_mbr.mbr_group_mbr mgm on mbrmst.mbr_id = mgm.mbr_id and mgm.group_mbr_invite_st != 'c000002009'\t    inner JOIN hdc_mbr.mbr_group mg on mgm.grp_id = mg.grp_id \t left JOIN hdc_mbr.mbr_cert mbrcert on mg.grp_owner = mbrcert.mbr_id \t left JOIN hdc_mbr.mbr_apt_cert_his ach on mbrcert.mbr_acert_id = ach.apt_cert_id \t left JOIN hdc_apt.apt_mst aptmst on ach.apt_id = aptmst.apt_id     left JOIN hdc_apt.apt_unit_info aui on ach.apt_unit_id = aui.unit_id\t left JOIN hdc_sys.sys_code C3 on aptmst.apt_addr_code = C3.crd\t ) a\twhere 1=1\tand a.mbr_admin_yn = 'n'\tand\ta.mbr_sys_ty in ('c000004003','c000004004')    order by a.regist_dt desc"

In [66]:
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT
    A.*
FROM (
    SELECT
        MBRMST.MBR_ID
        , MBRMST.LOGIN_ID
        , APTMST.APT_NAME
        , AUI.DNG_NO
        , AUI.HO_NO
        , AUI.SEP_NO
        , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
        , MBRMST.MBR_SEX
        , MBRMST.MBR_BIRTH
        , MBRMST.MBR_NICKNAME
        , MBRMST.MBR_PHONE
        , MBRMST.MBR_SYS_TY
        , C1.CRD_NAME AS MBR_SYS_TY_NAME
        , MBRMST.MBR_ST
        , C2.CRD_NAME AS MBR_ST_NAME
        , MBRMST.REGIST_DT
        , HMMD.MBR_LAST_ACCESS_DT
        , MBRCERT.MBR_ACERT_ID
        , APTMST.APT_ID
        , C3.CRD_GROUP AS LOC1
        , APTMST.APT_ADDR_CODE
        , MBRMST.MBR_MEMO
        , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
        , AUI.UNIT_ID
        , MBRMST.MBR_ADMIN_YN
        , MBRMST.MBR_FAMILLY_TY
        , CASE WHEN
            MBRMST.MBR_DELETE_DATE IS NULL
        THEN
            ''
        WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL
        THEN
            TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
        END MBR_DELETE_DATE 
    FROM
        HDC_MBR.MBR_MST MBRMST
        LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
        LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
        LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
        INNER JOIN HDC_MBR.MBR_CERT MBRCERT ON MBRMST.MBR_ID = MBRCERT.MBR_ID
        INNER JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
        INNER JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
        INNER JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
        LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD) A
	WHERE
        1=1
        AND A.MBR_ADMIN_YN = 'N'
        AND	A.MBR_SYS_TY = 'C000004001'
    ORDER BY
        A.REGIST_DT DESC
UNION
SELECT
    A.*
FROM (
        SELECT MBRMST.MBR_ID
        	 , MBRMST.LOGIN_ID
             , APTMST.APT_NAME
             , AUI.DNG_NO
             , AUI.HO_NO
             , AUI.SEP_NO
             , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
             , MBRMST.MBR_SEX
             , MBRMST.MBR_BIRTH
             , MBRMST.MBR_NICKNAME
             , MBRMST.MBR_PHONE
             , MBRMST.MBR_SYS_TY
             , C1.CRD_NAME AS MBR_SYS_TY_NAME
             , MBRMST.MBR_ST
             , C2.CRD_NAME AS MBR_ST_NAME
             , MBRMST.REGIST_DT
             , HMMD.MBR_LAST_ACCESS_DT
             , MBRCERT.MBR_ACERT_ID
             , APTMST.APT_ID
             , C3.CRD_GROUP AS LOC1
             , APTMST.APT_ADDR_CODE
             , MBRMST.MBR_MEMO
             , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
             , AUI.UNIT_ID
             , MBRMST.MBR_ADMIN_YN
             , MBRMST.MBR_FAMILLY_TY
             , CASE WHEN MBRMST.MBR_DELETE_DATE IS NULL THEN ''
                    WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL THEN TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
                END MBR_DELETE_DATE 
          FROM HDC_MBR.MBR_MST MBRMST
	 LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
     LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
     LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
	INNER JOIN HDC_MBR.MBR_CERT MBRCERT ON MBRMST.MBR_ID = MBRCERT.MBR_ID
	INNER JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
	INNER JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
    INNER JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
	 LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD
	  UNION
        SELECT MBRMST.MBR_ID
             , MBRMST.LOGIN_ID
             , APTMST.APT_NAME
             , AUI.DNG_NO
             , AUI.HO_NO
             , AUI.SEP_NO
             , CONCAT(MBRMST.MBR_NAME,'(',MBRMST.LOGIN_ID, ')') AS MBR_NAME
             , MBRMST.MBR_SEX
             , MBRMST.MBR_BIRTH
             , MBRMST.MBR_NICKNAME
             , MBRMST.MBR_PHONE
             , MBRMST.MBR_SYS_TY
             , C1.CRD_NAME AS MBR_SYS_TY_NAME
             , MBRMST.MBR_ST
             , C2.CRD_NAME AS MBR_ST_NAME
             , MBRMST.REGIST_DT
             , HMMD.MBR_LAST_ACCESS_DT
             , MBRCERT.MBR_ACERT_ID
             , APTMST.APT_ID
             , C3.CRD_GROUP AS LOC1
             , APTMST.APT_ADDR_CODE
             , MBRMST.MBR_MEMO
             , TO_CHAR(MBRMST.MBR_LEAVING_EXPECTED_DATE, 'YYYY/MM/DD') AS MBR_LEAVING_EXPECTED_DATE 
             , AUI.UNIT_ID
             , MBRMST.MBR_ADMIN_YN
             , MBRMST.MBR_FAMILLY_TY
             , CASE WHEN MBRMST.MBR_DELETE_DATE IS NULL THEN ''
                    WHEN MBRMST.MBR_DELETE_DATE IS NOT NULL THEN TO_CHAR(MBRMST.MBR_DELETE_DATE,'YYYY/MM/DD')
                END MBR_DELETE_DATE
          FROM HDC_MBR.MBR_MST MBRMST
     LEFT JOIN HDC_MBR.MBR_DEVICE HMMD ON MBRMST.MBR_ID = HMMD.MBR_ID
     LEFT JOIN HDC_SYS.SYS_CODE C1 ON MBRMST.MBR_SYS_TY = C1.CRD
     LEFT JOIN HDC_SYS.SYS_CODE C2 ON MBRMST.MBR_ST = C2.CRD
	 
	INNER JOIN HDC_MBR.MBR_GROUP_MBR MGM ON MBRMST.MBR_ID = MGM.MBR_ID AND MGM.GROUP_MBR_INVITE_ST != 'C000002009'
	
    INNER JOIN HDC_MBR.MBR_GROUP MG ON MGM.GRP_ID = MG.GRP_ID
 	 LEFT JOIN HDC_MBR.MBR_CERT MBRCERT ON MG.GRP_OWNER = MBRCERT.MBR_ID
 	 LEFT JOIN HDC_MBR.MBR_APT_CERT_HIS ACH ON MBRCERT.MBR_ACERT_ID = ACH.APT_CERT_ID
 	 LEFT JOIN HDC_APT.APT_MST APTMST ON ACH.APT_ID = APTMST.APT_ID
     LEFT JOIN HDC_APT.APT_UNIT_INFO AUI ON ACH.APT_UNIT_ID = AUI.UNIT_ID
	 LEFT JOIN HDC_SYS.SYS_CODE C3 ON APTMST.APT_ADDR_CODE = C3.CRD
	 ) A
	WHERE 1=1
	AND A.MBR_ADMIN_YN = 'N'
	AND	A.MBR_SYS_TY IN ('C000004003','C000004004')
    ORDER BY A.REGIST_DT DESC
"""
cur.execute(query)
result = cur.fetchall()
sys_code = pd.DataFrame(result)

SyntaxError: syntax error at or near "UNION"
LINE 56: UNION
         ^

In [29]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16171 entries, 0 to 16170
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mbr_id           16171 non-null  object
 1   apt_name         16171 non-null  object
 2   dng_no           16171 non-null  object
 3   ho_no            16171 non-null  object
 4   mbr_sys_ty_name  16171 non-null  object
 5   mbr_st_name      16171 non-null  object
 6   case             16171 non-null  object
 7   mbr_birth        16171 non-null  object
 8   mbr_reg_dt       16171 non-null  datetime64[ns]
 9   mbr_del_dt       534 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(8)
memory usage: 1.2+ MB

In [48]:
# 대표, 세대원
with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
     password = pk.load(f)
conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
cur = conn.cursor(cursor_factory=RealDictCursor)
query = """
SELECT X.*
FROM (
SELECT
    A.mbr_id,
    G.apt_name,
    H.dng_no,
    H.ho_no,
    B.crd_name AS mbr_sys_ty_name,
    C.crd_name AS mbr_st_name,
    CASE A.mbr_sex
    WHEN '0' THEN '남자'
    WHEN '1' THEN '여자'
    END,
    A.mbr_birth,
    A.regist_dt AS mbr_reg_dt,
    A.mbr_delete_date AS mbr_del_dt
FROM
    hdc_mbr.mbr_mst AS A
    LEFT JOIN hdc_sys.sys_code AS B
        ON A.mbr_sys_ty = B.crd
    LEFT JOIN hdc_sys.sys_code AS C
        ON A.mbr_st = C.crd
    INNER JOIN hdc_mbr.mbr_cert AS E
        ON A.mbr_id = E.mbr_id
    INNER JOIN hdc_mbr.mbr_apt_cert_his AS F
        ON E.mbr_acert_id = F.apt_cert_id
    INNER JOIN hdc_apt.apt_mst AS G
        ON F.apt_id = G.apt_id
    INNER JOIN hdc_apt.apt_unit_info AS H
        ON F.apt_unit_id = H.unit_id
UNION
SELECT
    A.mbr_id,
    G.apt_name,
    H.dng_no,
    H.ho_no,
    B.crd_name AS mbr_sys_ty_name,
    C.crd_name AS mbr_st_name,
    CASE A.mbr_sex
    WHEN '0' THEN '남자'
    WHEN '1' THEN '여자'
    END,
    A.mbr_birth,
    A.regist_dt AS mbr_reg_dt,
    A.mbr_delete_date AS mbr_del_dt
FROM
    hdc_mbr.mbr_mst AS A
    LEFT JOIN hdc_sys.sys_code AS B
        ON A.mbr_sys_ty = B.crd
    LEFT JOIN hdc_sys.sys_code AS C
        ON A.mbr_st = C.crd
    INNER JOIN hdc_mbr.mbr_cert AS E
        ON A.mbr_id = E.mbr_id
    INNER JOIN hdc_mbr.mbr_apt_cert_his AS F
        ON E.mbr_acert_id = F.apt_cert_id
    INNER JOIN hdc_apt.apt_mst AS G
        ON F.apt_id = G.apt_id
    INNER JOIN hdc_apt.apt_unit_info AS H
        ON F.apt_unit_id = H.unit_id
SELECT
    A.mbr_id,
    G.apt_name,
    H.dng_no,
    H.ho_no,
    B.crd_name AS mbr_sys_ty_name,
    C.crd_name AS mbr_st_name,
    CASE A.mbr_sex
    WHEN '0'
    THEN '남자'
    WHEN '1'
    THEN '여자'
    END,
    A.mbr_birth,
    A.regist_dt AS mbr_reg_dt,
    A.mbr_delete_date AS mbr_del_dt
FROM
    hdc_mbr.mbr_mst AS A
    LEFT JOIN
        hdc_sys.sys_code AS B
        ON A.mbr_sys_ty = B.crd
    LEFT JOIN
        hdc_sys.sys_code AS C
        ON A.mbr_st = C.crd
    INNER JOIN
        hdc_mbr.mbr_group_mbr AS I
        ON A.mbr_id = I.mbr_id
            AND I.group_mbr_invite_st != 'C000002009'
    INNER JOIN
        hdc_mbr.mbr_group AS J
        ON I.grp_id = J.grp_id
    LEFT JOIN
        hdc_mbr.mbr_cert AS E
        ON J.grp_owner = E.mbr_id
    LEFT JOIN
        hdc_mbr.mbr_apt_cert_his AS F
        ON E.mbr_acert_id = F.apt_cert_id
    LEFT JOIN
        hdc_apt.apt_mst AS G
        ON F.apt_id = G.apt_id
    LEFT JOIN
        hdc_apt.apt_unit_info AS H
        ON F.apt_unit_id = H.unit_id
WHERE
    A.mbr_admin_yn = 'N'
    AND	A.mbr_sys_ty IN ('C000004003','C000004004')
ORDER BY
    A.regist_dt DESC;
"""
cur.execute(query)
result = cur.fetchall()
b = pd.DataFrame(result)

In [50]:
# with open("D:/Github/Work/Tableau/signup_password.pkl", "rb") as f:
#      password = pk.load(f)
# conn = psycopg2.connect(host="postgresql-production1.cluster-ro-cxb5zwyq1mu5.ap-northeast-2.rds.amazonaws.com", dbname="hdc", user="postgres", password=password)
# cur = conn.cursor(cursor_factory=RealDictCursor)
# query = f"SELECT hdc_mbr.mbr_mst.mbr_id, \
# CASE hdc_mbr.mbr_mst.mbr_sys_ty  \
# WHEN 'C000004001' THEN '입주예정자' \
# WHEN 'C000004003' THEN '입주자(대표)' \
# WHEN 'C000004004' THEN '입주자(세대원)' \
# END AS mbr_sys_ty, \
# CASE hdc_mbr.mbr_mst.mbr_sex \
# WHEN '0' THEN '남자' \
# WHEN '1' THEN '여자' \
# END AS mbr_sex, \
# hdc_mbr.mbr_mst.mbr_birth, hdc_mbr.mbr_mst.regist_dt, hdc_mbr.mbr_mst.mbr_delete_date, \
# CASE hdc_mbr.mbr_mst.mbr_st \
# WHEN 'C000002001' THEN '정상' \
# WHEN 'C000002005' THEN' 탈퇴' \
# WHEN 'C000002007' THEN '퇴거' \
# WHEN 'C000002008' THEN '휴면상태' \
# END AS mbr_st, \
# hdc_apt.apt_unit_mbr.mbr_id, \
# hdc_apt.apt_unit_info.dng_no, hdc_apt.apt_unit_info.ho_no, \
# hdc_apt.apt_mst.apt_name  \
# FROM hdc_mbr.mbr_mst  \
# LEFT OUTER JOIN hdc_apt.apt_unit_mbr  \
# LEFT OUTER JOIN hdc_apt.apt_unit_info  \
# LEFT OUTER JOIN hdc_apt.apt_mst  \
# ON hdc_apt.apt_unit_info.apt_id = hdc_apt.apt_mst.apt_id  \
# ON hdc_apt.apt_unit_mbr.unit_id = hdc_apt.apt_unit_info.unit_id  \
# ON hdc_mbr.mbr_mst.mbr_id = hdc_apt.apt_unit_mbr.mbr_id;"
# cur.execute(query)
# result = cur.fetchall()
# signup = pd.DataFrame(result)

In [17]:
signup.to_csv("signup.csv", encoding="euc-kr")

In [12]:
# signup = signup[signup["apt_name"].notna()]
# signup["mbr_sys_ty"] = signup["mbr_sys_ty"].map({"C000004001":"입주예정자", "C000004003":"입주자(대표)", "C000004004":"입주자(세대원)"})
# signup["mbr_sex"] = signup["mbr_sex"].map({"0":"남자", "1":"여자"})
# signup["mbr_st"] = signup["mbr_st"].map({"C000002001":"정상", "C000002005":"탈퇴", "C000002007":"퇴거", "C000002008":"휴면상태"})
# signup = signup.rename({"mbr_id":"아이디", "apt_name":"아파트 명", "dng_no":"동", "ho_no":"호", "mbr_sys_ty":"회원유형", "mbr_st":"회원상태", "mbr_sex":"성별", "mbr_birth":"생년월일", "regist_dt":"가입일", "mbr_delete_date":"탈퇴일"}, axis=1)
# signup["성별/생년월일"] = signup["성별"] + "/" + signup["생년월일"]
# signup = signup[["아이디", "아파트 명", "동", "호", "회원유형", "회원상태", "성별/생년월일", "가입일", "탈퇴일"]]

In [15]:
signup.to_csv(f"D:/Github/Work/Tableau/Myhomie/signup_{end.strftime('%Y-%m-%d')}.csv", encoding="euc-kr")