In [1]:
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import pymssql

f = open("D:/Github/Work/Tableau/datamart_password.txt", "r")
password = f.readline()

# 분양일보 업데이트

In [2]:
conn = pymssql.connect(server="218.153.55.44", database="HDCMART", user="hdcmart", password=password, charset="UTF8")
query = """
SELECT 내용구분, 현황, 사업지,  분양구분, 분양종류, 분양일, 완공예정, 공동도급지분율, 사업규모세대, 사업규모금액, 분양세대, 분양금액, 미분양세대, 미분양금액, 임대세대, 임대금액, 임대분양가, 약정금액당월, 약정금액누계, 입금도래당월, 입금도래누계, 입금선납당월, 입금선납누계, 입금누계, 미수금기간도래, 미수금미도래, 미수금계
FROM 사업별미수현황총괄표_작업
WHERE 코드 IN ('A665', 'A694', 'A710', 'B021', 'B1037C', 'C012', 'C030', 'C031', 'C032', 'C035', 'C036', 'C038', 'C040', 'C041', 'C1041C', 'C1043C', 'C1043O', 'C1049C', 'C1056C', 'C1057C', 'C1059C', 'C1061C', 'C1062C', 'D013', 'D015', 'D019', 'D021', 'D023', 'D026', 'D027', 'D029', 'D030', 'D032', 'D1043C');
"""
infos = pd.read_sql(query, conn)

In [3]:
infos.to_excel("D:/디지털혁신팀/태블로/분양일보/Routine/infos_210922.xlsx", header=False, index=False)

In [4]:
conn = pymssql.connect(server="218.153.55.44", database="HDCMART", user="hdcmart", password=password, charset="UTF8")
query = """
SELECT 코드, 현장명, 평형, 동, 호수, 성명, 분양구분, 분양종류, 분양가, 계약금1차일자, 계약금1차금액, 계약금2차일자, 계약금2차금액, 중도금1회일자, 중도금1회금액, 중도금2회일자, 중도금2회금액, 중도금3회일자, 중도금3회금액, 중도금4회일자, 중도금4회금액, 중도금5회일자, 중도금5회금액, 중도금6회일자, 중도금6회금액, 중도금7회일자, 중도금7회금액, 중도금8회일자, 중도금8회금액, 잔금일자, 잔금금액 
FROM 계약일보_작업
WHERE 코드 IN ('A665', 'A694', 'A710', 'A710', 'B021', 'B1037C', 'C012', 'C030', 'C031', 'C032', 'C035', 'C036', 'C038', 'C040', 'C041', 'C1041C', 'C1043C', 'C1043O', 'C1049C', 'C1056C', 'C1057C', 'C1059C', 'C1061C', 'C1062C', 'D013', 'D015', 'D019', 'D021', 'D023', 'D026', 'D027', 'D029', 'D030', 'D032', 'D1043C') AND 계약여부 = 'Y';
"""
contracts = pd.read_sql(query, conn)

In [5]:
contracts.to_excel("D:/디지털혁신팀/태블로/분양일보/Routine/contracts_210922.xlsx", header=False, index=False)

# DataFrames to Workbooks

In [27]:
wb2 = openpyxl.load_workbook("D:/Github/Work/Tableau/Sales/사업별미수현황총괄표_테이블.xlsx")
ws2 = wb2.active

In [28]:
wb1 = openpyxl.Workbook()
ws1 = wb.active
for row in dataframe_to_rows(infos, index=False, header=False):
    ws1.append(row)
ws1.move_range("A1:AA100", rows=5, cols=0)
ws1["A1:AA5"] = ws2["A1:AA5"]

# wb1.save("D:/디지털혁신팀/태블로/분양일보/Routine/사업별미수_tst.xlsx")

AttributeError: 'tuple' object has no attribute 'value'

In [33]:
ws1["A1"].values

AttributeError: 'Cell' object has no attribute 'values'